Repository cmu-db/noisepage-stats: changes, and which Jenkins stages are due for each by the changed paths.
All: Performance Storage Service, TimescaleDB, Grafana

Jenkinsfile:

#!groovy
pipeline {
  agent {
    label 'docker'
  }

  stages{
    stage('Checkout'){
      steps{
        checkout scm
      }
    }
    stage('Trigger Build Pipelines') {
      parallel {
        stage('Performance Storage Service'){
          when{
            changeset "performance-storage-service/**"
          }
          steps{
            build job: "noisepage-test-performance-storage-service/${env.BRANCH_NAME}", wait: true, propagate: true
          }
        }
        stage('TimescaleDB'){
          when{
            changeset "timescaledb/**"
          }
          steps{
            build job: "noisepage-test-timescale/${env.BRANCH_NAME}", wait: true, propagate: true
          }
        }
        stage('Grafana'){
          when{
            changeset "grafana/**"
          }
          steps{
            build job: "noisepage-test-grafana/${env.BRANCH_NAME}", wait: true,  propagate: true
          }
        }
      }
    }
  }
}

timescale
  performance-storage-service/Jenkinsfile
Due: Performance Storage Service

Try to change the port
  deployments/kubernetes/performance/timescaledb/service.yml
Due: none

allow stop
  performance-storage-service/Jenkinsfile
Due: Performance Storage Service

Trigger
  deployments/kubernetes/performance/timescaledb/deployment.yml
Due: none

cleanup
  performance-storage-service/Jenkinsfile
Due: Performance Storage Service

Try a different port
  deployments/kubernetes/performance/timescaledb/service.yml
Due: none

Go back to previous version
  deployments/kubernetes/performance/timescaledb/deployment.yml
  deployments/playbooks/timescaledb-deployment.yml
Due: none

postgres-client
  performance-storage-service/Jenkinsfile
Due: Performance Storage Service

sudo
  performance-storage-service/Jenkinsfile
Due: Performance Storage Service

Test one more time
  deployments/kubernetes/performance/timescaledb/service.yml
Due: none

Try to remove volume
  deployments/kubernetes/performance/timescaledb/deployment.yml
Due: none

timescaledb
  performance-storage-service/Jenkinsfile
Due: Performance Storage Service

Change port
  deployments/kubernetes/performance/timescaledb/service.yml
Due: none

worth a try
  performance-storage-service/Jenkinsfile
Due: Performance Storage Service

Add postgres_db
  deployments/kubernetes/performance/timescaledb/deployment.yml
  deployments/kubernetes/performance/timescaledb/service.yml
Due: none

proper syntax
  performance-storage-service/Jenkinsfile
Due: Performance Storage Service

testing failure scenario
  performance-storage-service/Jenkinsfile
Due: Performance Storage Service

test
  performance-storage-service/Jenkinsfile
Due: Performance Storage Service

Use previous version. This should work.
  deployments/kubernetes/performance/timescaledb/backup/deployment.yml
  deployments/kubernetes/performance/timescaledb/backup/persistent-volume-claim.yml
  deployments/kubernetes/performance/timescaledb/backup/persistent-volume.yml
  deployments/kubernetes/performance/timescaledb/backup/service.yml
  deployments/playbooks/timescaledb-deployment-backup.yml
Due: none

Revert "Deploy to staging environment."
  deployments/kubernetes/performance/grafana/deployment.yml
  deployments/kubernetes/performance/grafana/service.yml
  deployments/kubernetes/performance/performance-storage-service/service.yml
  deployments/kubernetes/performance/timescaledb/deployment_backup.yml
  deployments/kubernetes/performance/timescaledb/persistent-volume-claim.yml
  deployments/kubernetes/performance/timescaledb/persistent-volume.yml
  deployments/kubernetes/performance/timescaledb/postgres-config.yml
  deployments/kubernetes/performance/timescaledb/postgres-service.yml
  deployments/kubernetes/performance/timescaledb/postgres-stateful.yml
  deployments/kubernetes/performance/timescaledb/service.yml
  deployments/kubernetes/performance/timescaledb/timescaledb.yml
  deployments/playbooks/timescaledb-deployment.yml
  performance-storage-service/openapi.yaml
Due: Performance Storage Service

trigger
  deployments/kubernetes/performance/timescaledb/service.yml
Due: none

trying link instead of net
  performance-storage-service/Jenkinsfile
Due: Performance Storage Service

almost fixed
  performance-storage-service/Jenkinsfile
Due: Performance Storage Service

Fit for staging env
  timescaledb/load_data.py
Due: TimescaleDB
