Repository cmu-db/noisepage-stats: changes, and which Jenkins stages are due for each by the changed paths.
All: Performance Storage Service, TimescaleDB, Grafana

Jenkinsfile:

#!groovy
pipeline {
  agent {
    label 'docker'
  }

  stages{
    stage('Checkout'){
      steps{
        checkout scm
      }
    }
    stage('Trigger Build Pipelines') {
      parallel {
        stage('Performance Storage Service'){
          when{
            changeset "performance-storage-service/**"
          }
          steps{
            build job: "noisepage-test-performance-storage-service/${env.BRANCH_NAME}", wait: true, propagate: true
          }
        }
        stage('TimescaleDB'){
          when{
            changeset "timescaledb/**"
          }
          steps{
            build job: "noisepage-test-timescale/${env.BRANCH_NAME}", wait: true, propagate: true
          }
        }
        stage('Grafana'){
          when{
            changeset "grafana/**"
          }
          steps{
            build job: "noisepage-test-grafana/${env.BRANCH_NAME}", wait: true,  propagate: true
          }
        }
      }
    }
  }
}

Update the other charts
  grafana/dashboards/LatencyTrends.json
  grafana/dashboards/ThroughputTerminalTrends.json
  grafana/dashboards/ThroughputTrends.json
Due: Grafana

revert to ben changes
  grafana/dashboards/Overview.json
Due: Grafana

host based links
  grafana/dashboards/Overview.json
Due: Grafana

fix link issues
  grafana/dashboards/Overview.json
Due: Grafana

Trying new export/import
  grafana/dashboards/Overview.json
Due: Grafana

attempt to fill in template variables
  deployments/inventory
Due: none

template variables
  deployments/inventory
  grafana/dashboards/Overview.json
Due: Grafana

fiix import
  grafana/dashboards/Overview.json
Due: Grafana

try to revert back to old development process
  grafana/dashboards/Overview.json
Due: Grafana

fix the deployment issue where id !=0
  grafana/dashboards/LatencyTrends.json
  grafana/dashboards/ThroughputTerminalTrends.json
  grafana/dashboards/ThroughputTrends.json
Due: Grafana

add better descriptions to the overview
  grafana/dashboards/Overview.json
Due: Grafana

update the branch to point to master
  grafana/dashboards/LatencyTrends.json
  grafana/dashboards/Overview.json
  grafana/dashboards/ThroughputTerminalTrends.json
  grafana/dashboards/ThroughputTrends.json
Due: Grafana

Gen-331 This provides the changes for recording data about max_connection_threads and wal_device. The only thing left to do is verify the actual values of wal_device
  performance-storage-service/pss_project/api/migrations/0004_auto_20200811_1313.py
  performance-storage-service/pss_project/api/models/database/OLTPBenchResult.py
  performance-storage-service/pss_project/api/models/rest/OLTPBenchRest.py
  performance-storage-service/pss_project/api/models/rest/parameters/OLTPBenchParameters.py
  performance-storage-service/pss_project/api/serializers/database/OLTPBenchResultSerializer.py
  performance-storage-service/pss_project/api/serializers/rest/parameters/OLTPBenchParametersSerializer.py
  performance-storage-service/pss_project/api/tests/factories/database/OLTPBenchDBFactory.py
  performance-storage-service/pss_project/api/tests/factories/rest/parameters/OLTPBenchParameters.py
  performance-storage-service/pss_project/settings/production.py
Due: Performance Storage Service

GEN-331 update pss_container version
  deployments/inventory
  performance-storage-service/Jenkinsfile
Due: Performance Storage Service

GEN-331 move the wal_device to the environment metadata
  performance-storage-service/pss_project/api/models/rest/OLTPBenchRest.py
  performance-storage-service/pss_project/api/models/rest/metadata/EnvironmentMetadata.py
  performance-storage-service/pss_project/api/models/rest/parameters/OLTPBenchParameters.py
  performance-storage-service/pss_project/api/serializers/rest/metadata/EnvironmentMetadataSerializer.py
  performance-storage-service/pss_project/api/serializers/rest/parameters/OLTPBenchParametersSerializer.py
  performance-storage-service/pss_project/api/tests/factories/rest/metadata/EnvironmentMetadataFactory.py
  performance-storage-service/pss_project/api/tests/factories/rest/parameters/OLTPBenchParameters.py
Due: Performance Storage Service

GEN-331 add the none option
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/migrations/0004_auto_20200811_1313.py
  performance-storage-service/pss_project/api/models/database/OLTPBenchResult.py
  performance-storage-service/pss_project/api/serializers/rest/metadata/EnvironmentMetadataSerializer.py
  performance-storage-service/pss_project/api/tests/factories/database/OLTPBenchDBFactory.py
Due: Performance Storage Service

Update Grafana dashboards
  grafana/dashboards/LatencyTrends.json
  grafana/dashboards/Overview.json
  grafana/dashboards/ThroughputTerminalTrends.json
  grafana/dashboards/ThroughputTrends.json
Due: Grafana

GEN-331 updated grafana dashboards for new wal_device and max_connection filters
  grafana/dashboards/LatencyTrends.json
  grafana/dashboards/Overview.json
  grafana/dashboards/ScalabilityDetails.json
  grafana/dashboards/ThroughputTrends.json
Due: Grafana

GEN-328 added stability panels to the overview dashboard
  grafana/dashboards/Overview.json
Due: Grafana

GEN-344 added Prometheus client to django
  performance-storage-service/pss_project/api/tests/manual/Dockerfile
  performance-storage-service/pss_project/api/tests/manual/local-prometheus.yml
  performance-storage-service/pss_project/settings/base.py
  performance-storage-service/pss_project/settings/local.py
  performance-storage-service/pss_project/urls.py
  performance-storage-service/requirements.txt
Due: Performance Storage Service

wrap up the GEN 299, following will be done in GEN 343
  deployments/kubernetes/monitoring/prometheus/deployment.yml
  grafana/dashboards/MonitoringTesting.json
Due: Grafana

add grafana to monitoring
  deployments/kubernetes/monitoring/grafana/deployment.yml
  deployments/kubernetes/monitoring/grafana/service.yml
  deployments/playbooks/monitoring-grafana-deployment.yml
Due: none

allow reverse proxy for prometheus
  deployments/kubernetes/monitoring/prometheus/deployment.yml
Due: none

add githug oauth login for grafana
  deployments/kubernetes/monitoring/grafana/deployment.yml
  deployments/kubernetes/monitoring/grafana/service.yml
Due: none

GEN-344 only allow production to send metrics to prometheus
  performance-storage-service/pss_project/settings/base.py
  performance-storage-service/pss_project/settings/local.py
  performance-storage-service/pss_project/settings/production.py
Due: Performance Storage Service

Merge master and move location of monitoring testing dashboard
  grafana/monitoring/MonitoringTesting.json
Due: Grafana

Update pss container version
  deployments/inventory
  deployments/playbooks/pss-deployment.yml
  deployments/playbooks/timescaledb-deployment.yml
  performance-storage-service/Dockerfile
  performance-storage-service/Jenkinsfile
  performance-storage-service/README.md
  performance-storage-service/pss_project/settings/local.py
Due: Performance Storage Service

merge migrations
  performance-storage-service/pss_project/api/migrations/0005_merge_20200915_0112.py
Due: Performance Storage Service

Try to add pss to promethius monitoring
  deployments/inventory
  deployments/kubernetes/performance/performance-storage-service/service.yml
  deployments/playbooks/pss-deployment.yml
  performance-storage-service/Jenkinsfile
Due: Performance Storage Service

service annotations for prometheus
  deployments/inventory
  deployments/kubernetes/performance/performance-storage-service/service.yml
  deployments/playbooks/pss-deployment.yml
  performance-storage-service/Jenkinsfile
Due: Performance Storage Service

fix bug
  deployments/kubernetes/performance/performance-storage-service/service.yml
Due: none

Try annotations on the deployment
  deployments/kubernetes/performance/performance-storage-service/deployment.yml
  deployments/kubernetes/performance/performance-storage-service/service.yml
Due: none

reenable prometheus.io/scrape
  deployments/inventory
  deployments/kubernetes/performance/performance-storage-service/deployment.yml
  deployments/kubernetes/performance/performance-storage-service/service.yml
  performance-storage-service/Jenkinsfile
Due: Performance Storage Service

allowing k8s service name in allowed_hosts
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/settings/testing.py
Due: Performance Storage Service

Make some formatting changes to the dashboards
  grafana/dashboards/LatencyTrends.json
  grafana/dashboards/Overview.json
  grafana/dashboards/ScalabilityDetails.json
  grafana/dashboards/ThroughputTrends.json
Due: Grafana

Fix two dashboard bugs
  grafana/dashboards/LatencyTrends.json
  grafana/dashboards/ThroughputTrends.json
Due: Grafana

allow the pod ip for the django allowed hosts
  deployments/inventory
  deployments/kubernetes/performance/performance-storage-service/deployment.yml
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/settings/testing.py
  performance-storage-service/pss_project/settings/utils.py
Due: Performance Storage Service

add django prometheus to all envs
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/settings/production.py
  performance-storage-service/pss_project/settings/staging.py
Due: Performance Storage Service

GEN-407 added API endpoint to store the microbenchmarks
  performance-storage-service/openapi.yaml
  performance-storage-service/pss_project/api/constants.py
  performance-storage-service/pss_project/api/migrations/0006_microbenchmarkresult.py
  performance-storage-service/pss_project/api/models/database/MicrobenchmarkResult.py
  performance-storage-service/pss_project/api/models/database/__init__.py
  performance-storage-service/pss_project/api/models/rest/MicrobenchmarkRest.py
  performance-storage-service/pss_project/api/models/rest/OLTPBenchRest.py
  performance-storage-service/pss_project/api/models/rest/metrics/MicrobenchmarkMetrics.py
  performance-storage-service/pss_project/api/models/rest/parameters/MicrobenchmarkParameters.py
  performance-storage-service/pss_project/api/models/rest/utils.py
  performance-storage-service/pss_project/api/serializers/database/MicrobenchmarkResultSerializer.py
  performance-storage-service/pss_project/api/serializers/rest/MicrobenchmarkSerializer.py
  performance-storage-service/pss_project/api/serializers/rest/metadata/EnvironmentMetadataSerializer.py
  performance-storage-service/pss_project/api/serializers/rest/metrics/MicrobenchmarkMetricsSerializer.py
  performance-storage-service/pss_project/api/serializers/rest/parameters/MicrobenchmarkParametersSerializer.py
  performance-storage-service/pss_project/api/serializers/rest/parameters/OLTPBenchParametersSerializer.py
  performance-storage-service/pss_project/api/tests/factories/database/MicrobenchmarkDBFactory.py
  performance-storage-service/pss_project/api/tests/factories/database/OLTPBenchDBFactory.py
  performance-storage-service/pss_project/api/tests/factories/rest/MicrobenchmarkRestFactory.py
  performance-storage-service/pss_project/api/tests/factories/rest/OLTPBenchRestFactory.py
  performance-storage-service/pss_project/api/tests/factories/rest/metrics/IncrementalLatencyMetricsFactory.py
  performance-storage-service/pss_project/api/tests/factories/rest/metrics/IncrementalMetricsFactory.py
  performance-storage-service/pss_project/api/tests/factories/rest/metrics/LatencyMetricsFactory.py
  performance-storage-service/pss_project/api/tests/factories/rest/metrics/MicrobenchmarkMetricsFactory.py
  performance-storage-service/pss_project/api/tests/factories/rest/parameters/MicrobenchmarkParametersFactory.py
  performance-storage-service/pss_project/api/tests/factories/rest/parameters/OLTPBenchParametersFactory.py
  performance-storage-service/pss_project/api/tests/serializers/database/test_MicrobenchmarkResultsSerializer.py
  performance-storage-service/pss_project/api/tests/serializers/rest/test_basic_serializers.py
  performance-storage-service/pss_project/api/tests/views/test_microbenchmark.py
  performance-storage-service/pss_project/api/urls.py
  performance-storage-service/pss_project/api/views/__init__.py
  performance-storage-service/pss_project/api/views/microbenchmark.py
  performance-storage-service/pss_project/settings/base.py
  performance-storage-service/pss_project/settings/local.py
Due: Performance Storage Service

GEN-407 renamed the metadata object
  performance-storage-service/pss_project/api/models/rest/MicrobenchmarkRest.py
  performance-storage-service/pss_project/api/models/rest/OLTPBenchRest.py
  performance-storage-service/pss_project/api/models/rest/metadata/Metadata.py
  performance-storage-service/pss_project/api/serializers/rest/MicrobenchmarkSerializer.py
  performance-storage-service/pss_project/api/serializers/rest/OLTPBenchSerializer.py
  performance-storage-service/pss_project/api/serializers/rest/metadata/MetadataSerializer.py
  performance-storage-service/pss_project/api/tests/factories/rest/MicrobenchmarkRestFactory.py
  performance-storage-service/pss_project/api/tests/factories/rest/OLTPBenchRestFactory.py
  performance-storage-service/pss_project/api/tests/factories/rest/metadata/MetadataFactory.py
  performance-storage-service/pss_project/api/tests/serializers/rest/test_basic_serializers.py
Due: Performance Storage Service
