Repository cmu-db/noisepage-stats: changes, and which Jenkins stages are due for each by the changed paths.
All: Performance Storage Service, TimescaleDB, Grafana

Jenkinsfile:

#!groovy
pipeline {
  agent {
    label 'docker'
  }

  stages{
    stage('Checkout'){
      steps{
        checkout scm
      }
    }
    stage('Trigger Build Pipelines') {
      parallel {
        stage('Performance Storage Service'){
          when{
            changeset "performance-storage-service/**"
          }
          steps{
            build job: "noisepage-test-performance-storage-service/${env.BRANCH_NAME}", wait: true, propagate: true
          }
        }
        stage('TimescaleDB'){
          when{
            changeset "timescaledb/**"
          }
          steps{
            build job: "noisepage-test-timescale/${env.BRANCH_NAME}", wait: true, propagate: true
          }
        }
        stage('Grafana'){
          when{
            changeset "grafana/**"
          }
          steps{
            build job: "noisepage-test-grafana/${env.BRANCH_NAME}", wait: true,  propagate: true
          }
        }
      }
    }
  }
}

GEN-93 add config files that will allow python to be deployed to staging
  deployments/inventory
  performance-storage-service/pss_project/settings/staging.py
Due: Performance Storage Service

Trigger
  deployments/kubernetes/performance/timescaledb/deployment.yml
  timescaledb/trigger.txt
Due: TimescaleDB

Trigger
  Jenkinsfile
  deployments/Jenkinsfile
  timescaledb/trigger.txt
Due: TimescaleDB

Change Jenkinsfile
  deployments/Jenkinsfile
Due: none

Add stages
  deployments/Jenkinsfile
Due: none

Test
  deployments/Jenkinsfile
  deployments/kubernetes/performance/timescaledb/service.yml
  deployments/playbooks/timescaledb-deployment.yml
Due: none

Change typo
  deployments/Jenkinsfile
Due: none

trigger
  deployments/Jenkinsfile
  timescaledb/trigger.txt
Due: TimescaleDB

test
  deployments/kubernetes/performance/timescaledb/deployment_backup.yml
  deployments/kubernetes/performance/timescaledb/postgres-config.yml
  deployments/kubernetes/performance/timescaledb/postgres-service.yml
  deployments/kubernetes/performance/timescaledb/postgres-stateful.yml
  deployments/playbooks/timescaledb-deployment.yml
  timescaledb/trigger.txt
Due: TimescaleDB

trigger
  timescaledb/trigger.txt
Due: TimescaleDB

Add namespace
  deployments/kubernetes/performance/timescaledb/postgres-config.yml
  deployments/kubernetes/performance/timescaledb/postgres-service.yml
  deployments/kubernetes/performance/timescaledb/postgres-stateful.yml
Due: none

Draft version of GEN-131
  .gitignore
  timescaledb/load_data.py
  timescaledb/requirements.txt
  timescaledb/test_data/noop/oltpbench.expconfig
  timescaledb/test_data/noop/oltpbench.summary
  timescaledb/test_data/smallbank/oltpbench.expconfig
  timescaledb/test_data/smallbank/oltpbench.summary
  timescaledb/test_data/tatp/oltpbench.expconfig
  timescaledb/test_data/tatp/oltpbench.summary
Due: TimescaleDB

Test changes
  deployments/kubernetes/performance/timescaledb/timescaledb.yml
  deployments/playbooks/timescaledb-deployment.yml
Due: none

Fix bug
  deployments/kubernetes/performance/timescaledb/timescaledb.yml
Due: none

Trigger
  deployments/kubernetes/performance/timescaledb/timescaledb.yml
Due: none

Allows serializations and deserialization of the API enpoint. This allows us to get the input as an object.
  performance-storage-service/pss_project/api/models/__init__.py
  performance-storage-service/pss_project/api/models/database/__init__.py
  performance-storage-service/pss_project/api/models/rest/OLTPBenchRest.py
  performance-storage-service/pss_project/api/models/rest/__init__.py
  performance-storage-service/pss_project/api/models/rest/metadata/GithubMetadata.py
  performance-storage-service/pss_project/api/models/rest/metadata/JenkinsMetadata.py
  performance-storage-service/pss_project/api/models/rest/metadata/NoisePageMetadata.py
  performance-storage-service/pss_project/api/models/rest/metadata/OLTPBenchMetadata.py
  performance-storage-service/pss_project/api/models/rest/metadata/__init__.py
  performance-storage-service/pss_project/api/models/rest/metrics/OLTPBenchMetrics.py
  performance-storage-service/pss_project/api/models/rest/metrics/__init__.py
  performance-storage-service/pss_project/api/models/rest/parameters/OLTPBenchParameters.py
  performance-storage-service/pss_project/api/models/rest/parameters/TransactionWeight.py
  performance-storage-service/pss_project/api/models/rest/parameters/__init__.py
  performance-storage-service/pss_project/api/serializers/__init__.py
  performance-storage-service/pss_project/api/serializers/database/__init__.py
  performance-storage-service/pss_project/api/serializers/fields/UnixEpochDatetimeField.py
  performance-storage-service/pss_project/api/serializers/rest/OLTPBenchSerializer.py
  performance-storage-service/pss_project/api/serializers/rest/__init__.py
  performance-storage-service/pss_project/api/serializers/rest/metadata/GithubMetadataSerializer.py
  performance-storage-service/pss_project/api/serializers/rest/metadata/JenkinsMetadataSerializer.py
  performance-storage-service/pss_project/api/serializers/rest/metadata/NoisePageMetadataSerializer.py
  performance-storage-service/pss_project/api/serializers/rest/metadata/OLTPBenchMetadataSerializer.py
  performance-storage-service/pss_project/api/serializers/rest/metadata/__init__.py
  performance-storage-service/pss_project/api/serializers/rest/metrics/OLTPBenchMetricsSerializer.py
  performance-storage-service/pss_project/api/serializers/rest/metrics/__init__.py
  performance-storage-service/pss_project/api/serializers/rest/parameters/OLTPBenchParametersSerializer.py
  performance-storage-service/pss_project/api/serializers/rest/parameters/TransactionWeightSerializer.py
  performance-storage-service/pss_project/api/serializers/rest/parameters/__init__.py
  performance-storage-service/pss_project/api/urls.py
  performance-storage-service/pss_project/api/views/__init__.py
  performance-storage-service/pss_project/api/views/oltpbench.py
  performance-storage-service/pss_project/settings/base.py
Due: Performance Storage Service

fix the deployment and service for timescaledb
  deployments/kubernetes/performance/timescaledb/deployment.yml
  deployments/kubernetes/performance/timescaledb/service.yml
  deployments/playbooks/timescaledb-deployment.yml
Due: none

created code and tests to validate the information being passed to the API
  performance-storage-service/.gitignore
  performance-storage-service/pss_project/api/serializers/fields/UnixEpochDatetimeField.py
  performance-storage-service/pss_project/api/serializers/rest/metrics/OLTPBenchMetricsSerializer.py
  performance-storage-service/pss_project/api/serializers/rest/parameters/OLTPBenchParametersSerializer.py
  performance-storage-service/pss_project/api/tests/factories/__init__.py
  performance-storage-service/pss_project/api/tests/factories/rest/OLTPBenchRestFactory.py
  performance-storage-service/pss_project/api/tests/factories/rest/__init__.py
  performance-storage-service/pss_project/api/tests/factories/rest/metadata/GithubMetadataFactory.py
  performance-storage-service/pss_project/api/tests/factories/rest/metadata/JenkinsMetadataFactory.py
  performance-storage-service/pss_project/api/tests/factories/rest/metadata/NoisePageMetadataFactory.py
  performance-storage-service/pss_project/api/tests/factories/rest/metadata/OLTPBenchMetadataFactory.py
  performance-storage-service/pss_project/api/tests/factories/rest/metadata/__init__.py
  performance-storage-service/pss_project/api/tests/factories/rest/metrics/OLTPBenchMetricsFactory.py
  performance-storage-service/pss_project/api/tests/factories/rest/metrics/__init__.py
  performance-storage-service/pss_project/api/tests/factories/rest/parameters/OLTPBenchParameters.py
  performance-storage-service/pss_project/api/tests/factories/rest/parameters/TransactionWeightFactory.py
  performance-storage-service/pss_project/api/tests/factories/rest/parameters/__init__.py
  performance-storage-service/pss_project/api/tests/serializers/__init__.py
  performance-storage-service/pss_project/api/tests/serializers/fields/__init__.py
  performance-storage-service/pss_project/api/tests/serializers/fields/test_UnixEpochDateTimeField.py
  performance-storage-service/pss_project/api/tests/serializers/rest/__init__.py
  performance-storage-service/pss_project/api/tests/serializers/rest/test_basic_serializers.py
  performance-storage-service/pss_project/api/tests/utils/__init__.py
  performance-storage-service/pss_project/api/tests/utils/utils.py
  performance-storage-service/pss_project/api/tests/views/__init__.py
  performance-storage-service/pss_project/api/tests/views/tests_health.py
  performance-storage-service/requirements.txt
Due: Performance Storage Service

some initial work in storing the data in TimescaleDB
  performance-storage-service/pss_project/api/models/database/OLTPBenchResult.py
  performance-storage-service/pss_project/api/serializers/database/OLTPBenchSerializer.py
Due: Performance Storage Service

changing the metrics variable name to make it easier for python code
  performance-storage-service/openapi.yaml
Due: Performance Storage Service

update db serializer
  performance-storage-service/pss_project/api/serializers/database/OLTPBenchSerializer.py
Due: Performance Storage Service

Removing the files used to trigger Jenkins
  grafana/trigger.txt
  performance-storage-service/hello.txt
  timescaledb/trigger.txt
Due: Performance Storage Service, TimescaleDB, Grafana

Fixed a whole bunch of the testing and added tests for the database serializer.
  performance-storage-service/pss_project/api/migrations/0001_initial.py
  performance-storage-service/pss_project/api/models/database/OLTPBenchResult.py
  performance-storage-service/pss_project/api/models/rest/OLTPBenchRest.py
  performance-storage-service/pss_project/api/models/rest/metadata/OLTPBenchMetadata.py
  performance-storage-service/pss_project/api/models/rest/metrics/OLTPBenchMetrics.py
  performance-storage-service/pss_project/api/models/rest/parameters/OLTPBenchParameters.py
  performance-storage-service/pss_project/api/serializers/database/OLTPBenchResultSerializer.py
  performance-storage-service/pss_project/api/serializers/database/OLTPBenchSerializer.py
  performance-storage-service/pss_project/api/tests/factories/database/OLTPBenchDBFactory.py
  performance-storage-service/pss_project/api/tests/factories/database/__init__.py
  performance-storage-service/pss_project/api/tests/factories/rest/OLTPBenchRestFactory.py
  performance-storage-service/pss_project/api/tests/factories/rest/metadata/JenkinsMetadataFactory.py
  performance-storage-service/pss_project/api/tests/factories/rest/metadata/OLTPBenchMetadataFactory.py
  performance-storage-service/pss_project/api/tests/factories/rest/parameters/OLTPBenchParameters.py
  performance-storage-service/pss_project/api/tests/serializers/database/__init__.py
  performance-storage-service/pss_project/api/tests/serializers/database/test_OLTPBenchResultSerializer.py
  performance-storage-service/pss_project/api/tests/serializers/rest/test_basic_serializers.py
  performance-storage-service/pss_project/api/tests/utils/utils.py
  performance-storage-service/pss_project/api/views/oltpbench.py
  performance-storage-service/pss_project/settings/base.py
  performance-storage-service/pss_project/settings/local.py
  performance-storage-service/requirements.txt
Due: Performance Storage Service

fix environment from branch function
  deployments/Jenkinsfile
Due: none

Proposal to change the way we are doing environment deployments
  deployments/kubernetes/namespaces.yml
  deployments/kubernetes/performance/grafana/deployment.yml
  deployments/kubernetes/performance/grafana/service.yml
  deployments/kubernetes/performance/performance-storage-service/deployment.yml
  deployments/kubernetes/performance/performance-storage-service/service.yml
  deployments/kubernetes/performance/timescaledb/deployment.yml
  deployments/kubernetes/performance/timescaledb/service.yml
Due: none

fix jenkins file
  deployments/Jenkinsfile
Due: none

fix build jenkins file
  Jenkinsfile
Due: none

trigger deploy
  deployments/Jenkinsfile
Due: none

missed a config option
  deployments/kubernetes/performance/grafana/service.yml
  deployments/kubernetes/performance/performance-storage-service/service.yml
Due: none

check environment variable set
  performance-storage-service/pss_project/wsgi.py
Due: Performance Storage Service

Trying to figure out why traffic gets routed between nodes
  deployments/kubernetes/performance/performance-storage-service/service.yml
  performance-storage-service/pss_project/api/views/health.py
  performance-storage-service/pss_project/wsgi.py
Due: Performance Storage Service

oops
  performance-storage-service/pss_project/api/views/health.py
Due: Performance Storage Service

what if a service isn't specific to a namespace
  deployments/kubernetes/performance/performance-storage-service/service.yml
Due: none

namespaces are required
  deployments/kubernetes/performance/performance-storage-service/service.yml
Due: none

maybe a master namespace
  deployments/kubernetes/namespaces.yml
  deployments/kubernetes/performance/performance-storage-service/service.yml
Due: none

have I tried this combination
  deployments/kubernetes/namespaces.yml
  deployments/kubernetes/performance/performance-storage-service/service.yml
Due: none

Trying the single service again
  deployments/kubernetes/namespaces.yml
  deployments/kubernetes/performance/performance-storage-service/deployment.yml
  deployments/kubernetes/performance/performance-storage-service/service.yml
Due: none

trigger deploy
  deployments/kubernetes/performance/performance-storage-service/service.yml
Due: none

try no namespace again
  deployments/kubernetes/namespaces.yml
  deployments/kubernetes/performance/performance-storage-service/deployment.yml
  deployments/kubernetes/performance/performance-storage-service/service.yml
Due: none

What if I was wrong
  deployments/kubernetes/namespaces.yml
  deployments/kubernetes/performance/performance-storage-service/deployment.yml
  deployments/kubernetes/performance/performance-storage-service/service.yml
Due: none
