Repository cmu-db/noisepage-stats: changes, and which Jenkins stages are due for each by the changed paths.
All: Performance Storage Service, TimescaleDB, Grafana

Performance Storage Service:
            steps{
              build job: "noisepage-test-performance-storage-service/${env.BRANCH_NAME}", wait: true, propagate: true
            }
          

TimescaleDB:
            steps{
              build job: "noisepage-test-timescale/${env.BRANCH_NAME}", wait: true, propagate: true
            }
          

Grafana:
            steps{
              build job: "noisepage-test-grafana/${env.BRANCH_NAME}", wait: true,  propagate: true
            }
          

use blackbox_exporter for http monitoring in prometheus
  deployments/kubernetes/monitoring/blackbox_exporter/config-map.yml
  deployments/kubernetes/monitoring/blackbox_exporter/deployment.yml
  deployments/kubernetes/monitoring/blackbox_exporter/service.yml
  deployments/kubernetes/monitoring/prometheus/config-map.yml
  deployments/playbooks/blackbox-exporter-deployment.yml
Due: none

GEN-407 made changes based on the microbenchmark script rewrite
  performance-storage-service/openapi.yaml
  performance-storage-service/pss_project/api/constants.py
  performance-storage-service/pss_project/api/migrations/0007_remove_microbenchmarkresult_query_mode.py
  performance-storage-service/pss_project/api/models/database/MicrobenchmarkResult.py
  performance-storage-service/pss_project/api/models/rest/MicrobenchmarkRest.py
  performance-storage-service/pss_project/api/models/rest/metrics/MicrobenchmarkMetrics.py
  performance-storage-service/pss_project/api/models/rest/parameters/MicrobenchmarkParameters.py
  performance-storage-service/pss_project/api/serializers/database/MicrobenchmarkResultSerializer.py
  performance-storage-service/pss_project/api/serializers/rest/MicrobenchmarkSerializer.py
  performance-storage-service/pss_project/api/serializers/rest/metrics/MicrobenchmarkMetricsSerializer.py
  performance-storage-service/pss_project/api/serializers/rest/parameters/MicrobenchmarkParametersSerializer.py
  performance-storage-service/pss_project/api/tests/factories/database/MicrobenchmarkDBFactory.py
  performance-storage-service/pss_project/api/tests/factories/rest/MicrobenchmarkRestFactory.py
  performance-storage-service/pss_project/api/tests/factories/rest/metrics/MicrobenchmarkMetricsFactory.py
  performance-storage-service/pss_project/api/tests/factories/rest/parameters/MicrobenchmarkParametersFactory.py
  performance-storage-service/pss_project/api/tests/serializers/database/test_MicrobenchmarkResultsSerializer.py
  performance-storage-service/pss_project/api/tests/views/test_microbenchmark.py
  performance-storage-service/pss_project/api/views/microbenchmark.py
Due: Performance Storage Service

Incrementing version due to failed deploy
  deployments/inventory
  performance-storage-service/Jenkinsfile
Due: Performance Storage Service

Update throughput trends dashboard
  grafana/dashboards/ThroughputTrends.json
Due: Grafana

renaming threshold to tolerance
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/openapi.yaml
  performance-storage-service/pss_project/api/models/rest/metrics/MicrobenchmarkMetrics.py
  performance-storage-service/pss_project/api/serializers/rest/metrics/MicrobenchmarkMetricsSerializer.py
  performance-storage-service/pss_project/api/tests/factories/rest/metrics/MicrobenchmarkMetricsFactory.py
Due: Performance Storage Service

Update migration job with podIP
  deployments/kubernetes/performance/performance-storage-service/migration-job.yml
Due: none

Change the required fields for the microbenchmark endpoint
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/openapi.yaml
  performance-storage-service/pss_project/api/models/database/__init__.py
  performance-storage-service/pss_project/api/serializers/rest/metrics/MicrobenchmarkMetricsSerializer.py
  performance-storage-service/pss_project/api/views/__init__.py
Due: Performance Storage Service

Updating required fields
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/models/rest/metrics/MicrobenchmarkMetrics.py
  performance-storage-service/pss_project/api/serializers/rest/metrics/MicrobenchmarkMetricsSerializer.py
  performance-storage-service/pss_project/api/tests/factories/rest/metrics/MicrobenchmarkMetricsFactory.py
Due: Performance Storage Service

update the ID of ThroughputTrends to be null for deployments
  grafana/dashboards/ThroughputTrends.json
Due: Grafana

Adding microbenchmark dashboard and minor cosmetic changes to other dashboards
  grafana/dashboards/Microbenchmarks.json
  grafana/dashboards/Overview.json
  grafana/dashboards/ScalabilityDetails.json
  grafana/dashboards/ThroughputTrends.json
Due: Grafana

Fix an issue with the alerting
  grafana/dashboards/Microbenchmarks.json
Due: Grafana

Normalizing the % change for Throughput in Overall
  grafana/dashboards/Overview.json
Due: Grafana

Normalizing the % change for Latency in Overall
  grafana/dashboards/Overview.json
Due: Grafana

hotfix to increase the number of digits before the decimal that are allowed for microbenchmark throughput
  deployments/inventory
  grafana/dashboards/Overview.json
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/serializers/rest/metrics/MicrobenchmarkMetricsSerializer.py
Due: Performance Storage Service, Grafana

Merging in hotfix from test
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/serializers/rest/metrics/MicrobenchmarkMetricsSerializer.py
Due: Performance Storage Service

use persistent volume for grafana dashboards
  deployments/kubernetes/performance/grafana/deployment.yml
  deployments/kubernetes/performance/grafana/persistent-volume-claim.yml
  deployments/kubernetes/performance/grafana/persistent-volume.yml
  deployments/playbooks/grafana-deployment.yml
Due: none

change the monitoring grafana to use persistent storage
  deployments/kubernetes/monitoring/grafana/deployment.yml
  deployments/kubernetes/monitoring/grafana/persistent-volume-claim.yml
  deployments/kubernetes/monitoring/grafana/persistent-volume.yml
  deployments/playbooks/monitoring-grafana-deployment.yml
Due: none

change prometheus to use persistent volume
  deployments/kubernetes/monitoring/prometheus/deployment.yml
  deployments/kubernetes/monitoring/prometheus/persistent-volume-claim.yml
  deployments/kubernetes/monitoring/prometheus/persistent-volume.yml
  deployments/playbooks/prometheus-deployment.yml
Due: none

GEN-385 added endpoint for the binary metrics
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/migrations/0008_binarymetricsresult.py
  performance-storage-service/pss_project/api/models/database/BinaryMetricsResult.py
  performance-storage-service/pss_project/api/models/rest/BaseRest.py
  performance-storage-service/pss_project/api/models/rest/BinaryMetricsRest.py
  performance-storage-service/pss_project/api/models/rest/MicrobenchmarkRest.py
  performance-storage-service/pss_project/api/models/rest/OLTPBenchRest.py
  performance-storage-service/pss_project/api/models/rest/utils.py
  performance-storage-service/pss_project/api/serializers/database/BinaryMetricsResultSerializer.py
  performance-storage-service/pss_project/api/serializers/rest/BinaryMetricsSerializer.py
  performance-storage-service/pss_project/api/tests/factories/database/BinaryMetricsDBFactory.py
  performance-storage-service/pss_project/api/tests/factories/rest/BinaryMetricsRestFactory.py
  performance-storage-service/pss_project/api/tests/serializers/database/test_BinaryMetricsResultSerializer.py
  performance-storage-service/pss_project/api/tests/serializers/rest/test_basic_serializers.py
  performance-storage-service/pss_project/api/urls.py
  performance-storage-service/pss_project/api/views/__init__.py
  performance-storage-service/pss_project/api/views/binary_metrics.py
  performance-storage-service/pss_project/api/views/microbenchmark.py
Due: Performance Storage Service

GEN-385 add API documentation
  performance-storage-service/openapi.yaml
Due: Performance Storage Service

GEN-389 This is the most basic POC I could create. This proves it works and needs a lot of work to make it production ready
  performance-storage-service/pss_project/api/urls.py
  performance-storage-service/pss_project/api/views/__init__.py
  performance-storage-service/pss_project/api/views/git_events.py
  performance-storage-service/pss_project/settings/local.py
Due: Performance Storage Service

Updated some python dependencies. Also, updated the git bot to be much closer to the working version. It now looks for a status update that signals the completion of the CI.
  performance-storage-service/pss_project/api/migrations/0009_auto_20201101_0205.py
  performance-storage-service/pss_project/api/models/database/BinaryMetricsResult.py
  performance-storage-service/pss_project/api/models/database/MicrobenchmarkResult.py
  performance-storage-service/pss_project/api/models/database/OLTPBenchResult.py
  performance-storage-service/pss_project/api/tests/factories/database/BinaryMetricsDBFactory.py
  performance-storage-service/pss_project/api/tests/factories/database/MicrobenchmarkDBFactory.py
  performance-storage-service/pss_project/api/tests/factories/database/OLTPBenchDBFactory.py
  performance-storage-service/pss_project/api/views/git_events.py
  performance-storage-service/pss_project/github_integration/NoisePageRepoClient.py
  performance-storage-service/pss_project/github_integration/__init__.py
  performance-storage-service/pss_project/settings/local.py
  performance-storage-service/pss_project/settings/staging.py
  performance-storage-service/pss_project/settings/testing.py
  performance-storage-service/requirements.txt
Due: Performance Storage Service

update throughput trends
  grafana/dashboards/ThroughputTrends.json
Due: Grafana

GEN-389 Almost complete. This is just missing the secrets stuff for deployment and it is still setup for a test against our terrier repo.
  performance-storage-service/pss_project/api/constants.py
  performance-storage-service/pss_project/api/github_integration/NoisePageRepoClient.py
  performance-storage-service/pss_project/api/github_integration/__init__.py
  performance-storage-service/pss_project/api/views/git_events.py
Due: Performance Storage Service

GEN-389 improve the error handling
  performance-storage-service/pss_project/api/views/git_events.py
Due: Performance Storage Service

GEN-389 update the secrets in pss deployment
  deployments/kubernetes/performance/performance-storage-service/deployment.yml
Due: none

GEN-389 add more logic so that only relevant pull request events create check runs
  performance-storage-service/pss_project/api/views/git_events.py
Due: Performance Storage Service

Add postgres exporter
  deployments/kubernetes/monitoring/postgres_exporter/deployment.yml
  deployments/kubernetes/monitoring/postgres_exporter/service.yml
  deployments/playbooks/postgres-exporter-deployment.yml
Due: none

Add service_hostname var
  deployments/playbooks/postgres-exporter-deployment.yml
Due: none

Update Overview id
  grafana/dashboards/Overview.json
Due: Grafana

change make_secrets.sh to make_secrets_performance.sh for performance namespace
  deployments/scripts/make_secrets_performance.sh
Due: none

add make_secrets_monitoring.sh only for monitoring namespace
  deployments/scripts/make_secrets_monitoring.sh
Due: none

upload secrets related scripts
  deployments/playbooks/upload-scripts.yml
Due: none

allow the postgres exporter to monitor multiple env db
  deployments/kubernetes/monitoring/postgres_exporter/deployment.yml
  deployments/playbooks/postgres-exporter-deployment.yml
Due: none

correct the timescaledb ports
  deployments/scripts/make_secrets_monitoring.sh
Due: none

GEN-385 rename binary metrics -> artifact stats
  performance-storage-service/openapi.yaml
  performance-storage-service/pss_project/api/migrations/0009_auto_20201109_0226.py
  performance-storage-service/pss_project/api/models/database/ArtifactStatsResult.py
  performance-storage-service/pss_project/api/models/rest/ArtifactStatsRest.py
  performance-storage-service/pss_project/api/serializers/database/ArtifactStatsResultSerializer.py
  performance-storage-service/pss_project/api/serializers/rest/ArtifactStatsSerializer.py
  performance-storage-service/pss_project/api/tests/factories/database/ArtifactStatsDBFactory.py
  performance-storage-service/pss_project/api/tests/factories/rest/ArtifactStatsRestFactory.py
  performance-storage-service/pss_project/api/tests/serializers/database/test_ArtifactStatsResultSerializer.py
  performance-storage-service/pss_project/api/tests/serializers/rest/test_basic_serializers.py
  performance-storage-service/pss_project/api/tests/views/test_artifact_stats.py
  performance-storage-service/pss_project/api/urls.py
  performance-storage-service/pss_project/api/views/__init__.py
  performance-storage-service/pss_project/api/views/artifact_stats.py
Due: Performance Storage Service

update version
  deployments/inventory
  performance-storage-service/Jenkinsfile
Due: Performance Storage Service

Add prometheus job
  deployments/kubernetes/monitoring/prometheus/config-map.yml
Due: none

fix
  deployments/kubernetes/monitoring/prometheus/config-map.yml
Due: none

Path conditions:
  Performance Storage Service: any of: performance-storage-service/**
  TimescaleDB: any of: timescaledb/**
  Grafana: any of: grafana/**
