Repository cmu-db/noisepage-stats: changes, and which Jenkins stages are due for each by the changed paths.
All: Performance Storage Service, TimescaleDB, Grafana

Performance Storage Service:
            steps{
              build job: "noisepage-test-performance-storage-service/${env.BRANCH_NAME}", wait: true, propagate: true
            }
          

TimescaleDB:
            steps{
              build job: "noisepage-test-timescale/${env.BRANCH_NAME}", wait: true, propagate: true
            }
          

Grafana:
            steps{
              build job: "noisepage-test-grafana/${env.BRANCH_NAME}", wait: true,  propagate: true
            }
          

finally done
  performance-storage-service/Jenkinsfile
Due: Performance Storage Service

Deploy to testing env
  deployments/kubernetes/performance/timescaledb/useless/timescaledb.yml
Due: none

fix an error with the jenkins deployment file
  deployments/Jenkinsfile
Due: none

trying to fix Jenkinsfile
  deployments/Jenkinsfile
Due: none

trigger
  deployments/kubernetes/performance/timescaledb/useless/timescaledb.yml
Due: none

hardcode DB credentials
  deployments/Jenkinsfile
Due: none

debug database issues
  deployments/Jenkinsfile
Due: none

do strings help?
  deployments/kubernetes/performance/performance-storage-service/deployment.yml
Due: none

fix
  deployments/Jenkinsfile
Due: none

update json model
  grafana/models/nightly.json
Due: Grafana

add prefix path and database migration job
  deployments/kubernetes/performance/performance-storage-service/migration-job.yml
  deployments/playbooks/pss-deployment.yml
  performance-storage-service/README.md
  performance-storage-service/pss_project/api/tests/views/test_oltpbench.py
  performance-storage-service/pss_project/api/tests/views/tests_health.py
  performance-storage-service/pss_project/urls.py
Due: Performance Storage Service

Trying to fix database connection issues
  performance-storage-service/pss_project/api/tests/views/test_oltpbench.py
  performance-storage-service/pss_project/api/tests/views/tests_health.py
  performance-storage-service/pss_project/settings/testing.py
  performance-storage-service/pss_project/urls.py
Due: Performance Storage Service

I think everythin works its just a networking issue
  deployments/kubernetes/performance/performance-storage-service/migration-job.yml
  performance-storage-service/pss_project/settings/testing.py
Due: Performance Storage Service

fix the staging + test build problem
  deployments/Jenkinsfile
Due: none

update json
  grafana/models/nightly.json
Due: Grafana

minor jenkinsfile change
  deployments/Jenkinsfile
Due: none

try to prevent staging from automatically triggering when changes to test
  deployments/Jenkinsfile
Due: none

see if staging deploy fires off with change to test
  performance-storage-service/pss_project/api/tests/views/test_oltpbench.py
  performance-storage-service/pss_project/api/tests/views/tests_health.py
Due: Performance Storage Service

cleanup dead code
  deployments/Jenkinsfile
Due: none

update
  grafana/models/nightly.json
Due: Grafana

use diff services and ports for diff envs
  deployments/kubernetes/namespaces.yml
  deployments/kubernetes/performance/performance-storage-service/deployment.yml
  deployments/kubernetes/performance/performance-storage-service/migration-job.yml
  deployments/kubernetes/performance/performance-storage-service/service.yml
  deployments/playbooks/pss-deployment.yml
Due: none

change pss back to unified namespace using diff services with selector on envs
  deployments/kubernetes/namespaces.yml
  deployments/kubernetes/performance/performance-storage-service/deployment.yml
  deployments/kubernetes/performance/performance-storage-service/migration-job.yml
  deployments/kubernetes/performance/performance-storage-service/service.yml
Due: none

Fix comment
  timescaledb/load_data.py
Due: TimescaleDB

make grafana diff services for diff envs
  deployments/kubernetes/performance/grafana/service.yml
  deployments/playbooks/grafana-deployment.yml
Due: none

add global gitignore
  .gitignore
Due: none

update timescaledb service to diff services for diff envs
  deployments/kubernetes/performance/timescaledb/service.yml
  deployments/playbooks/timescaledb-deployment.yml
Due: none

update the timescale service locatition
  performance-storage-service/pss_project/settings/production.py
  performance-storage-service/pss_project/settings/staging.py
  performance-storage-service/pss_project/settings/testing.py
Due: Performance Storage Service

minor update
  performance-storage-service/Jenkinsfile
Due: Performance Storage Service

GEN-219 change path to fit the reverse proxy
  performance-storage-service/pss_project/api/tests/views/test_oltpbench.py
  performance-storage-service/pss_project/api/tests/views/tests_health.py
  performance-storage-service/pss_project/api/urls.py
Due: Performance Storage Service

switch location of path prefix
  performance-storage-service/pss_project/api/urls.py
  performance-storage-service/pss_project/urls.py
Due: Performance Storage Service

add scalability panel
  grafana/models/scalability.json
Due: Grafana

change default time zone and the static url
  performance-storage-service/pss_project/settings/base.py
Due: Performance Storage Service

update static url
  performance-storage-service/pss_project/settings/base.py
Due: Performance Storage Service

Add Dan's experiment panel
  grafana/models/experiment.json
  grafana/models/scalability.json
Due: Grafana

adding credentials to DB
  deployments/Jenkinsfile
Due: none

I can't read sorry
  deployments/Jenkinsfile
Due: none

special characters causing trouble
  deployments/Jenkinsfile
Due: none

I don't think the password change worked
  deployments/Jenkinsfile
Due: none

oops I fogot to uncomment some things
  deployments/Jenkinsfile
Due: none

Path conditions:
  Performance Storage Service: any of: performance-storage-service/**
  TimescaleDB: any of: timescaledb/**
  Grafana: any of: grafana/**
