Repository cmu-db/noisepage-stats: changes, and which Jenkins stages are due for each by the changed paths.
All: Performance Storage Service, TimescaleDB, Grafana

Jenkinsfile:

#!groovy
pipeline {
  environment{
    BRANCH_NAME = branch
  }
  agent {
    label 'docker'
  }

  stages{
    stage('Checkout'){
      steps{
        checkout scm
      }
    }
    stage('Trigger Build Pipelines') {
      parallel {
        stage('Performance Storage Service'){
          when{
            changeset "performance-storage-service/**"
          }
          steps{
            build job: "performance-storage-service/${BRANCH_NAME}", wait: true
          }
        }
        stage('TimescaleDB'){
          when{
            changeset "timescale/**"
          }
          steps{
            build job: "noisepage-test-timescale", wait: true
          }
        }
        stage('Grafana'){
          when{
            changeset "grafana/**"
          }
          steps{
            build job: "noisepage-test-grafana", wait: true
          }
        }
      }
    }
  }
}

restructure deployment directory
  deployments/kubernetes/performance/grafana/grafana/deployment/local/deployment.yml
  deployments/kubernetes/performance/grafana/grafana/deployment/test/deployment.yml
  deployments/kubernetes/performance/grafana/service.yml
  deployments/kubernetes/performance/performance-storage-service/service.yml
  deployments/playbooks/grafana-deployment.yml
  deployments/playbooks/pss-deployment.yml
  performance-storage-service/hello.txt
Due: Performance Storage Service

cleanup the rest of the jenkins deploy file
  deployments/Jenkinsfile
  performance-storage-service/hello.txt
Due: Performance Storage Service

add prestep for installing openshift
  deployments/playbooks/create-namespaces.yml
  deployments/playbooks/grafana-deployment.yml
  deployments/playbooks/pss-deployment.yml
  performance-storage-service/hello.txt
Due: Performance Storage Service

fix playbooks
  deployments/playbooks/grafana-deployment.yml
  deployments/playbooks/pss-deployment.yml
  performance-storage-service/hello.txt
Due: Performance Storage Service

fix file paths
  deployments/kubernetes/performance/grafana/deployment/local/deployment.yml
  deployments/kubernetes/performance/grafana/deployment/testing/deployment.yml
  deployments/kubernetes/performance/performance-storage-service/deployment/testing/deployment.yml
  performance-storage-service/hello.txt
Due: Performance Storage Service

changing ports
  deployments/kubernetes/performance/grafana/service.yml
  deployments/kubernetes/performance/performance-storage-service/service.yml
  performance-storage-service/hello.txt
Due: Performance Storage Service

test
  performance-storage-service/hello.txt
Due: Performance Storage Service

remove verbose logging in pipeline
  deployments/Jenkinsfile
  performance-storage-service/hello.txt
Due: Performance Storage Service

onemore verbose removal
  deployments/Jenkinsfile
Due: none

external traffic policy change
  deployments/kubernetes/performance/performance-storage-service/service.yml
  performance-storage-service/hello.txt
Due: Performance Storage Service

add secret_key
  deployments/kubernetes/performance/performance-storage-service/deployment/testing/deployment.yml
  performance-storage-service/hello.txt
Due: Performance Storage Service

fixed the service no endpoint issue and the deployment node selector issue
  deployments/kubernetes/performance/grafana/deployment/testing/deployment.yml
  deployments/kubernetes/performance/grafana/service.yml
  deployments/kubernetes/performance/performance-storage-service/deployment/testing/deployment.yml
  deployments/kubernetes/performance/performance-storage-service/service.yml
Due: none

minor update to readme
  performance-storage-service/README.md
Due: Performance Storage Service

trigger build
  grafana/trigger.txt
Due: Grafana

trigger pss build
  performance-storage-service/hello.txt
Due: Performance Storage Service

starting the api redesign
  performance-storage-service/openapi.yaml
Due: Performance Storage Service

Update the API design based on discussion with Andy and learning more about the schema.
  performance-storage-service/openapi.yaml
Due: Performance Storage Service

changed the triggers so that changes to the delpoyment file in test branch will trigger a deploy.
  deployments/Jenkinsfile
Due: none

fixed a potential problem with the when clause
  deployments/Jenkinsfile
Due: none

since we don't have any code in anything but performance-storage-service I left out the grafana and timescale directories
  deployments/Jenkinsfile
Due: none

refactor when clause to make it shorter. I think I saved one line
  deployments/Jenkinsfile
Due: none

changing image_pull_policy location
  deployments/inventory
Due: none

add test duration as a test parameter
  performance-storage-service/openapi.yaml
Due: Performance Storage Service

Add timescaledb
  deployments/inventory
  deployments/kubernetes/performance/timescaledb/deployment.yml
  deployments/kubernetes/performance/timescaledb/service.yml
  deployments/playbooks/timescaledb-deployment.yml
  timescaledb/Jenkinsfile
Due: none

Trigger
  Jenkinsfile
  timescaledb/trigger.txt
Due: none

Trigger
  deployments/Jenkinsfile
  timescaledb/trigger.txt
Due: none

Trigger
  deployments/kubernetes/performance/timescaledb/service.yml
  timescaledb/trigger.txt
Due: none

Trigger
  timescaledb/trigger.txt
Due: none

Test
  timescaledb/trigger.txt
Due: none

test
  timescaledb/trigger.txt
Due: none

Add postgres password
  deployments/kubernetes/performance/timescaledb/deployment.yml
  timescaledb/trigger.txt
Due: none

trigger
  deployments/kubernetes/performance/timescaledb/deployment.yml
  timescaledb/trigger.txt
Due: none

test
  deployments/kubernetes/performance/timescaledb/deployment.yml
  timescaledb/trigger.txt
Due: none

trigger
  timescaledb/trigger.txt
Due: none

Trigger
  deployments/kubernetes/performance/timescaledb/deployment.yml
  timescaledb/trigger.txt
Due: none
