Repository cmu-db/noisepage-stats: changes, and which Jenkins stages are due for each by the changed paths.
All: Performance Storage Service, TimescaleDB, Grafana

Jenkinsfile:

#!groovy
pipeline {
  agent {
    label 'docker'
  }

  stages{
    stage('Checkout'){
      steps{
        checkout scm
      }
    }
    stage('Trigger Build Pipelines') {
      parallel {
        stage('Performance Storage Service'){
          when{
            changeset "performance-storage-service/**"
          }
          steps{
            build job: "noisepage-test-performance-storage-service/${env.BRANCH_NAME}", wait: true, propagate: true
          }
        }
        stage('TimescaleDB'){
          when{
            changeset "timescaledb/**"
          }
          steps{
            build job: "noisepage-test-timescale/${env.BRANCH_NAME}", wait: true, propagate: true
          }
        }
        stage('Grafana'){
          when{
            changeset "grafana/**"
          }
          steps{
            build job: "noisepage-test-grafana/${env.BRANCH_NAME}", wait: true,  propagate: true
          }
        }
      }
    }
  }
}

Fix minor issue with Jenkinsfile
  performance-storage-service/Jenkinsfile
Due: Performance Storage Service

update grafana database
  deployments/playbooks/grafana-deployment.yml
Due: none

Update dashboard
  grafana/dashboards/NightlyOverall.json
  grafana/dashboards/OLTPBench.json
  grafana/dashboards/Scalability.json
Due: Grafana

trigger
  deployments/kubernetes/performance/grafana/deployment.yml
Due: none

iterate through the credentials of a particular folder
  deployments/scripts/make_secrets.sh
Due: none

Update allowed hosts for production
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/settings/production.py
Due: Performance Storage Service

wait for grafana container up before configuring data source
  deployments/playbooks/grafana-deployment.yml
Due: none

Add throughput trends
  grafana/dashboards-backup/experiment.json
  grafana/dashboards/ThroughputTrends.json
Due: Grafana

GEN-318 added latency trends dashboard to show the trends for each benchmark
  grafana/dashboards/LatencyTrends.json
Due: Grafana

GEN-317 added latency overview chart. This will later get merged with the work done by others to create the overview dashboard.
  grafana/dashboards/LatencyOverview.json
Due: Grafana

add the git_commit_id
  grafana/dashboards/LatencyOverview.json
Due: Grafana

Add git_commit_id
  grafana/dashboards/LatencyTrends.json
Due: Grafana

Update Throughput Trends
  grafana/dashboards/ThroughputTrends.json
Due: Grafana

GEN-327 update the latency metrics so that they are Decimals not Integers
  performance-storage-service/pss_project/api/migrations/0004_auto_20200731_2230.py
  performance-storage-service/pss_project/api/models/database/OLTPBenchResult.py
  performance-storage-service/pss_project/api/models/rest/metrics/BasePerformanceMetrics.py
  performance-storage-service/pss_project/api/models/rest/metrics/IncrementalMetrics.py
  performance-storage-service/pss_project/api/models/rest/metrics/OLTPBenchMetrics.py
  performance-storage-service/pss_project/api/serializers/rest/metrics/IncrementalLatencyMetricsSerializer.py
  performance-storage-service/pss_project/api/serializers/rest/metrics/IncrementalMetricsSerializer.py
  performance-storage-service/pss_project/api/serializers/rest/metrics/LatencyMetricsSerializer.py
  performance-storage-service/pss_project/settings/production.py
Due: Performance Storage Service

Add throughput-terminal dashboards
  grafana/dashboards/ThroughputTerminalOverview.json
  grafana/dashboards/ThroughputTerminalTrends.json
Due: Grafana

GEN-318 ignore anything that isn't to the master branch or last 60 seconds
  grafana/dashboards/LatencyTrends.json
Due: Grafana

add prometheus deployment on k8s
  deployments/kubernetes/monitoring/prometheus/cluster-role-binding.yml
  deployments/kubernetes/monitoring/prometheus/cluster-role.yml
  deployments/kubernetes/monitoring/prometheus/config-map.yml
  deployments/kubernetes/monitoring/prometheus/deployment.yml
  deployments/kubernetes/monitoring/prometheus/service.yml
  deployments/kubernetes/namespaces.yml
  deployments/playbooks/prometheus-deployment.yml
Due: none

update for fixed data
  grafana/dashboards/LatencyOverview.json
Due: Grafana

fix the data so it looks nice
  grafana/dashboards/LatencyTrends.json
Due: Grafana

Update dashboards
  grafana/dashboards/LandingPageThroughput.json
  grafana/dashboards/ThroughputTrends.json
Due: Grafana

Update schema
  timescaledb/load_data.py
Due: TimescaleDB

Update query and color
  grafana/dashboards/ThroughputTerminalOverview.json
  grafana/dashboards/ThroughputTerminalTrends.json
Due: Grafana

Add commit panel
  grafana/dashboards/ThroughputTerminalOverview.json
  grafana/dashboards/ThroughputTerminalTrends.json
Due: Grafana

Fix bug
  grafana/dashboards/ThroughputTerminalOverview.json
Due: Grafana

add all dashboard changes
  grafana/dashboards/Overview.json
  grafana/deprecated-dashboards/LandingPageThroughput.json
  grafana/deprecated-dashboards/LatencyOverview.json
  grafana/deprecated-dashboards/NightlyOverall.json
  grafana/deprecated-dashboards/OLTPBench.json
  grafana/deprecated-dashboards/Scalability.json
  grafana/deprecated-dashboards/ThroughputTerminalOverview.json
Due: Grafana

Fix deployment so it triggers grafana deploys
  deployments/Jenkinsfile
Due: none

trigger deploy
  grafana/test.txt
Due: Grafana

fix https issue with Grafana deployment
  deployments/playbooks/grafana-deployment.yml
  grafana/test.txt
Due: Grafana

overview dashboard id
  grafana/dashboards/Overview.json
Due: Grafana

update version numbers
  grafana/dashboards/LandingPageThroughput.json
  grafana/dashboards/LatencyOverview.json
  grafana/dashboards/LatencyTrends.json
  grafana/dashboards/Overview.json
  grafana/dashboards/ThroughputTerminalOverview.json
  grafana/dashboards/ThroughputTerminalTrends.json
  grafana/dashboards/ThroughputTrends.json
Due: Grafana

problems with uid
  grafana/dashboards/ThroughputTerminalTrends.json
  grafana/dashboards/ThroughputTrends.json
Due: Grafana

trigger deploy
  grafana/change.txt
Due: Grafana

change Ids again
  grafana/dashboards/LatencyTrends.json
  grafana/dashboards/Overview.json
  grafana/dashboards/ThroughputTerminalTrends.json
  grafana/dashboards/ThroughputTrends.json
Due: Grafana

remove ids
  grafana/dashboards/LatencyTrends.json
  grafana/dashboards/Overview.json
  grafana/dashboards/ThroughputTerminalTrends.json
  grafana/dashboards/ThroughputTrends.json
Due: Grafana

Fix link issue
  grafana/dashboards/Overview.json
Due: Grafana

update links
  grafana/dashboards/LatencyTrends.json
  grafana/dashboards/Overview.json
  grafana/dashboards/ThroughputTerminalTrends.json
  grafana/dashboards/ThroughputTrends.json
Due: Grafana

Merge branch 'test' of https://github.com/cmu-db/noisepage-test into test
  grafana/change.txt
  grafana/dashboards/Overview.json
Due: Grafana

fixing the links
  grafana/dashboards/LatencyTrends.json
  grafana/dashboards/Overview.json
  grafana/dashboards/ThroughputTerminalTrends.json
  grafana/dashboards/ThroughputTrends.json
Due: Grafana

Revert some of the changes to Ben's changes
  grafana/dashboards/Overview.json
Due: Grafana
