Repository cmu-db/noisepage-stats: changes, and which Jenkins stages are due for each by the changed paths.
All: Performance Storage Service, TimescaleDB, Grafana

Performance Storage Service:
            steps{
              build job: "noisepage-test-performance-storage-service/${env.BRANCH_NAME}", wait: true, propagate: true
            }
          

TimescaleDB:
            steps{
              build job: "noisepage-test-timescale/${env.BRANCH_NAME}", wait: true, propagate: true
            }
          

Grafana:
            steps{
              build job: "noisepage-test-grafana/${env.BRANCH_NAME}", wait: true,  propagate: true
            }
          

Fix logging
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/views/git_events.py
  performance-storage-service/pss_project/settings/base.py
Due: Performance Storage Service

debugging
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/github_integration/NoisePageRepoClient.py
  performance-storage-service/pss_project/api/views/git_events.py
Due: Performance Storage Service

found the error
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/github_integration/NoisePageRepoClient.py
  performance-storage-service/pss_project/api/views/git_events.py
Due: Performance Storage Service

Fingers crossed this is the last bug fix
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/views/git_events.py
Due: Performance Storage Service

convert from mse repo to noisepage repo
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/constants.py
Due: Performance Storage Service

added the json for MemoryTrends dashboards
  grafana/dashboards/MemoryTrends.json
Due: Grafana

add IncrementalMetrics dashboard
  grafana/dashboards/IncrementalMetrics.json
Due: Grafana

temporarily disable configuring db
  deployments/playbooks/grafana-deployment.yml
Due: none

allow the openapi config map to read from the openapi.yml file
  deployments/kubernetes/performance/openapi/config-map.yml
  deployments/playbooks/openapi-deployment.yml
  performance-storage-service/openapi/.gitignore
  performance-storage-service/openapi/openapi.yml.j2
Due: Performance Storage Service

migrate server-init repo
  deployments/ansible.cfg
  deployments/inventory
  deployments/playbooks/server-init.yml
  deployments/playbooks/update-proxy.yml
  deployments/roles/config_bash/files/bashrc
  deployments/roles/config_bash/files/profile
  deployments/roles/config_bash/tasks/main.yml
  deployments/roles/config_openresty/files/nginx.conf
  deployments/roles/config_openresty/tasks/main.yml
  deployments/roles/config_openresty/tasks/update_conf.yml
  deployments/roles/config_openresty/templates/external.nginx
  deployments/roles/config_openresty/templates/internal.nginx
  deployments/roles/config_openresty/templates/k8s_master.nginx
  deployments/roles/config_ssl/tasks/install_ssl.yml
  deployments/roles/config_ssl/tasks/main.yml
  deployments/roles/install_basics/tasks/main.yml
  deployments/roles/install_docker/tasks/main.yml
  deployments/roles/install_k8s/files/daemon.json
  deployments/roles/install_k8s/tasks/config_user.yml
  deployments/roles/install_k8s/tasks/init_cluster.yml
  deployments/roles/install_k8s/tasks/install.yml
  deployments/roles/install_k8s/tasks/main.yml
  deployments/roles/install_k8s/tasks/snap.yml
  deployments/roles/install_noisepage_dependencies/tasks/main.yml
  deployments/roles/install_openresty/tasks/main.yml
  deployments/roles/install_python3.7/tasks/main.yml
  deployments/roles/install_sqlsmith/tasks/main.yml
Due: none

limit prometheus resources
  deployments/kubernetes/monitoring/prometheus/deployment.yml
Due: none

update to the latest stable prometheus image
  deployments/kubernetes/monitoring/prometheus/deployment.yml
Due: none

further limit the rentention size to 50GB
  deployments/kubernetes/monitoring/prometheus/deployment.yml
Due: none

GEN-389 completed the functionality. Currently working on writting the tests. Tests completed for check_run.py
  performance-storage-service/pss_project/api/constants.py
  performance-storage-service/pss_project/api/github_integration/NoisePageRepoClient.py
  performance-storage-service/pss_project/api/github_integration/check_run.py
  performance-storage-service/pss_project/api/models/database/OLTPBenchResult.py
  performance-storage-service/pss_project/api/tests/factories/database/OLTPBenchDBFactory.py
  performance-storage-service/pss_project/api/tests/github_integration/__init__.py
  performance-storage-service/pss_project/api/tests/github_integration/test_check_run.py
  performance-storage-service/pss_project/api/views/git_events.py
  performance-storage-service/pss_project/settings/base.py
Due: Performance Storage Service

GEN-389 finished the check_run tests
  performance-storage-service/pss_project/api/github_integration/check_run.py
  performance-storage-service/pss_project/api/models/database/OLTPBenchResult.py
  performance-storage-service/pss_project/api/tests/factories/database/ArtifactStatsDBFactory.py
  performance-storage-service/pss_project/api/tests/factories/database/MicrobenchmarkDBFactory.py
  performance-storage-service/pss_project/api/tests/factories/database/OLTPBenchDBFactory.py
  performance-storage-service/pss_project/api/tests/github_integration/test_check_run.py
Due: Performance Storage Service

updated the dashboard json for memory info
  grafana/dashboards/IncrementalMetrics.json
  grafana/dashboards/MemoryTrends.json
Due: Grafana

GEN-389 add all OLTPBenchResult tests
  performance-storage-service/pss_project/api/models/database/OLTPBenchResult.py
  performance-storage-service/pss_project/api/tests/factories/database/OLTPBenchDBFactory.py
  performance-storage-service/pss_project/api/tests/models/__init__.py
  performance-storage-service/pss_project/api/tests/models/test_OLTPBenchResult.py
  performance-storage-service/pss_project/api/views/git_events.py
Due: Performance Storage Service

GEN-389 finish tests
  performance-storage-service/pss_project/api/github_integration/check_run.py
  performance-storage-service/pss_project/api/models/database/OLTPBenchResult.py
  performance-storage-service/pss_project/api/tests/github_integration/test_check_run.py
  performance-storage-service/pss_project/api/tests/models/test_OLTPBenchResult.py
  performance-storage-service/pss_project/api/views/git_events.py
  performance-storage-service/pss_project/settings/base.py
Due: Performance Storage Service

Update to point things to check against origin/master
  performance-storage-service/pss_project/api/constants.py
  performance-storage-service/pss_project/api/github_integration/check_run.py
  performance-storage-service/pss_project/api/tests/github_integration/test_check_run.py
  performance-storage-service/pss_project/api/tests/models/test_OLTPBenchResult.py
Due: Performance Storage Service

update version
  deployments/inventory
  performance-storage-service/Jenkinsfile
Due: Performance Storage Service

udpate requirements.txt
  performance-storage-service/requirements.txt
Due: Performance Storage Service

removed unused roles for server-init
  deployments/playbooks/server-init.yml
  deployments/roles/install_noisepage_dependencies/tasks/main.yml
  deployments/roles/install_sqlsmith/tasks/main.yml
Due: none

make RAMdisk as the default option for wal_device
  grafana/dashboards/IncrementalMetrics.json
Due: Grafana

Add improvements based on usability testing
  grafana/dashboards/LatencyTrends.json
  grafana/dashboards/Overview.json
  grafana/dashboards/ThroughputTrends.json
Due: Grafana

Add fixes from PR
  performance-storage-service/pss_project/api/github_integration/check_run.py
  performance-storage-service/pss_project/api/models/database/OLTPBenchResult.py
  performance-storage-service/pss_project/api/views/git_events.py
Due: Performance Storage Service

update the python interpreter path for ansible local actions
  deployments/inventory
Due: none

Add a docs folder
  docs/artifact_stats_module_view.png
  docs/full_feature_allocation_view.png
  docs/microbenchmark_module_view.png
  docs/oltpbench_module_view.png
  docs/performance_cop_module_view.png
  docs/pss_full_module_view.png
Due: none

add wiki for deployment
  deployments/README.md
Due: none

Install Grafana Github datasource
  deployments/playbooks/grafana-deployment.yml
Due: none

add grafana plugin in docker upon deployment
  deployments/kubernetes/performance/grafana/deployment.yml
  deployments/playbooks/grafana-deployment.yml
Due: none

add more architecture images for docs
  docs/artifact_stats_allocation_view.png
  docs/microbench_allocation_view.png
  docs/oltpbench_allocation_view.png
  docs/performance_cop_allocation_view.png
  docs/performance_cop_process_flow.png
Due: none

fix microbenchmark dashboard
  grafana/dashboards/Microbenchmarks.json
Due: Grafana

remove manual tolerance from microbenchmark grafana dashboards
  grafana/dashboards/MicrobenchmarkAlerts.json
  grafana/dashboards/Microbenchmarks.json
Due: Grafana

add sqlancer view
  docs/sqlancer_allocation_view.png
Due: none

update doc images
  docs/artifact_stats_allocation_view.png
  docs/full_feature_allocation_view.png
  docs/microbenchmark_allocation_view.png
  docs/oltpbench_allocation_view.png
  docs/performance_cop_allocation_view.png
  docs/sqlancer_allocation_view.png
Due: none

add microbench allocation view docs
  docs/microbench_allocation_view.png
  docs/microbenchmark_allocation_view.png
Due: none

update artifact_stats performance storage service name
  docs/artifact_stats_allocation_view.png
Due: none

remove file to update
  docs/artifact_stats_allocation_view.png
Due: none

add view back
  docs/artifact_stats_allocation_view.png
Due: none

Path conditions:
  Performance Storage Service: any of: performance-storage-service/**
  TimescaleDB: any of: timescaledb/**
  Grafana: any of: grafana/**
