Repository cmu-db/noisepage-stats: changes, and which Jenkins stages are due for each by the changed paths.
All: Performance Storage Service, TimescaleDB, Grafana

Jenkinsfile:

#!groovy
pipeline {
  agent {
    label 'docker'
  }

  stages{
    stage('Checkout'){
      steps{
        checkout scm
      }
    }
    stage('Trigger Build Pipelines') {
      parallel {
        stage('Performance Storage Service'){
          when{
            changeset "performance-storage-service/**"
          }
          steps{
            build job: "noisepage-test-performance-storage-service/${env.BRANCH_NAME}", wait: true, propagate: true
          }
        }
        stage('TimescaleDB'){
          when{
            changeset "timescaledb/**"
          }
          steps{
            build job: "noisepage-test-timescale/${env.BRANCH_NAME}", wait: true, propagate: true
          }
        }
        stage('Grafana'){
          when{
            changeset "grafana/**"
          }
          steps{
            build job: "noisepage-test-grafana/${env.BRANCH_NAME}", wait: true,  propagate: true
          }
        }
      }
    }
  }
}

scape from postgres_exporter
  deployments/kubernetes/monitoring/prometheus/config-map.yml
Due: none

fixed the db coneection issue
  deployments/scripts/make_secrets_monitoring.sh
  deployments/scripts/make_secrets_performance.sh
Due: none

add memory info to django api
  performance-storage-service/pss_project/api/models/rest/OLTPBenchRest.py
  performance-storage-service/pss_project/api/models/rest/metrics/BasePerformanceMetrics.py
  performance-storage-service/pss_project/api/models/rest/metrics/IncrementalMetrics.py
  performance-storage-service/pss_project/api/models/rest/metrics/MemoryMetrics.py
  performance-storage-service/pss_project/api/models/rest/metrics/OLTPBenchMetrics.py
  performance-storage-service/pss_project/api/models/rest/metrics/SummaryPerformanceMetrics.py
  performance-storage-service/pss_project/api/models/rest/utils.py
  performance-storage-service/pss_project/api/serializers/rest/metrics/IncrementalMetricsSerializer.py
  performance-storage-service/pss_project/api/serializers/rest/metrics/MemoryMetricsSerializer.py
  performance-storage-service/pss_project/api/serializers/rest/metrics/OLTPBenchMetricsSerializer.py
  performance-storage-service/pss_project/api/tests/factories/rest/metrics/IncrementalMetricsFactory.py
  performance-storage-service/pss_project/api/tests/factories/rest/metrics/MemoryMetricsFactory.py
  performance-storage-service/pss_project/api/tests/factories/rest/metrics/OLTPBenchMetricsFactory.py
  performance-storage-service/pss_project/api/tests/serializers/rest/test_basic_serializers.py
  performance-storage-service/pss_project/api/views/oltpbench.py
Due: Performance Storage Service

add yapf to setup.cfg for python auto formatting
  performance-storage-service/pss_project/api/models/rest/OLTPBenchRest.py
  performance-storage-service/setup.cfg
Due: Performance Storage Service

correct the serializer for int and float max limit
  performance-storage-service/pss_project/api/models/rest/metrics/SummaryPerformanceMetrics.py
  performance-storage-service/pss_project/api/serializers/rest/metrics/MemoryMetricsSerializer.py
  performance-storage-service/pss_project/api/tests/factories/rest/metrics/MemoryMetricsFactory.py
Due: Performance Storage Service

fixed import issue and missing kwargs
  performance-storage-service/pss_project/api/serializers/rest/metrics/MemoryMetricsSerializer.py
Due: Performance Storage Service

Revert "add memory info to django api"
  performance-storage-service/pss_project/api/models/rest/OLTPBenchRest.py
  performance-storage-service/pss_project/api/models/rest/metrics/BasePerformanceMetrics.py
  performance-storage-service/pss_project/api/models/rest/metrics/IncrementalMetrics.py
  performance-storage-service/pss_project/api/models/rest/metrics/MemoryMetrics.py
  performance-storage-service/pss_project/api/models/rest/metrics/OLTPBenchMetrics.py
  performance-storage-service/pss_project/api/models/rest/metrics/SummaryPerformanceMetrics.py
  performance-storage-service/pss_project/api/models/rest/utils.py
  performance-storage-service/pss_project/api/serializers/rest/metrics/IncrementalMetricsSerializer.py
  performance-storage-service/pss_project/api/serializers/rest/metrics/MemoryMetricsSerializer.py
  performance-storage-service/pss_project/api/serializers/rest/metrics/OLTPBenchMetricsSerializer.py
  performance-storage-service/pss_project/api/tests/factories/rest/metrics/IncrementalMetricsFactory.py
  performance-storage-service/pss_project/api/tests/factories/rest/metrics/MemoryMetricsFactory.py
  performance-storage-service/pss_project/api/tests/factories/rest/metrics/OLTPBenchMetricsFactory.py
  performance-storage-service/pss_project/api/tests/serializers/rest/test_basic_serializers.py
  performance-storage-service/pss_project/api/views/oltpbench.py
  performance-storage-service/setup.cfg
Due: Performance Storage Service

move convert_metrics_to_dict to class function
  performance-storage-service/pss_project/api/models/rest/OLTPBenchRest.py
  performance-storage-service/pss_project/api/models/rest/utils.py
Due: Performance Storage Service

fix the jenkins bugs
  performance-storage-service/pss_project/api/models/rest/OLTPBenchRest.py
  performance-storage-service/pss_project/api/tests/factories/rest/metrics/MemoryMetricsFactory.py
  performance-storage-service/pss_project/api/tests/serializers/rest/test_basic_serializers.py
Due: Performance Storage Service

Revert "Gen 387 add mem info to django"
  performance-storage-service/pss_project/api/models/rest/OLTPBenchRest.py
  performance-storage-service/pss_project/api/models/rest/metrics/BasePerformanceMetrics.py
  performance-storage-service/pss_project/api/models/rest/metrics/IncrementalMetrics.py
  performance-storage-service/pss_project/api/models/rest/metrics/MemoryMetrics.py
  performance-storage-service/pss_project/api/models/rest/metrics/OLTPBenchMetrics.py
  performance-storage-service/pss_project/api/models/rest/metrics/SummaryPerformanceMetrics.py
  performance-storage-service/pss_project/api/models/rest/utils.py
  performance-storage-service/pss_project/api/serializers/rest/metrics/IncrementalMetricsSerializer.py
  performance-storage-service/pss_project/api/serializers/rest/metrics/MemoryMetricsSerializer.py
  performance-storage-service/pss_project/api/serializers/rest/metrics/OLTPBenchMetricsSerializer.py
  performance-storage-service/pss_project/api/tests/factories/rest/metrics/IncrementalMetricsFactory.py
  performance-storage-service/pss_project/api/tests/factories/rest/metrics/MemoryMetricsFactory.py
  performance-storage-service/pss_project/api/tests/factories/rest/metrics/OLTPBenchMetricsFactory.py
  performance-storage-service/pss_project/api/tests/serializers/rest/test_basic_serializers.py
  performance-storage-service/pss_project/api/views/oltpbench.py
  performance-storage-service/requirements.txt
  performance-storage-service/setup.cfg
Due: Performance Storage Service

Add new metrics
  deployments/kubernetes/monitoring/postgres_exporter/config-map.yml
  deployments/kubernetes/monitoring/postgres_exporter/deployment.yml
  deployments/playbooks/postgres-exporter-deployment.yml
Due: none

fixed the config volume mounting
  deployments/kubernetes/monitoring/postgres_exporter/deployment.yml
Due: none

Applying dashboard changes
  grafana/dashboards/Overview.json
  grafana/dashboards/ThroughputTrends.json
Due: Grafana

fix grafana config
  grafana/dashboards/ThroughputTrends.json
Due: Grafana

Add default value for wal_device and cleanup some flake8 stuff
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/models/rest/OLTPBenchRest.py
  performance-storage-service/pss_project/api/models/rest/utils.py
  performance-storage-service/pss_project/api/serializers/rest/metadata/EnvironmentMetadataSerializer.py
  performance-storage-service/pss_project/api/serializers/rest/metrics/MemoryMetricsSerializer.py
  performance-storage-service/pss_project/api/tests/factories/rest/metrics/MemoryMetricsFactory.py
  performance-storage-service/pss_project/api/tests/serializers/rest/test_basic_serializers.py
  performance-storage-service/pss_project/api/views/oltpbench.py
Due: Performance Storage Service

Add artifact stats dashboard
  grafana/dashboards/ArtifactStats.json
Due: Grafana

add origin/master where clause to artifact stats dashboard
  grafana/dashboards/ArtifactStats.json
Due: Grafana

Update Overview dashboard
  grafana/dashboards/Overview.json
Due: Grafana

host openapi documenation
  deployments/kubernetes/performance/openapi/config-map.yml
  deployments/kubernetes/performance/openapi/deployment.yml
  deployments/kubernetes/performance/openapi/service.yml
  deployments/playbooks/openapi-deployment.yml
Due: none

add openapi deployment to jenkinsfile
  deployments/Jenkinsfile
Due: none

Update overview dashboard
  grafana/dashboards/Overview.json
Due: Grafana

Make some updates to the microbenchmark dashboards
  grafana/dashboards/MicrobenchmarkAlerts.json
  grafana/dashboards/Microbenchmarks.json
Due: Grafana

Update the openapi doc by adding memory info related schemas
  deployments/kubernetes/performance/openapi/config-map.yml
  performance-storage-service/openapi.yaml
Due: Performance Storage Service

fix merge issues
  performance-storage-service/pss_project/api/migrations/0009_auto_20201101_0205.py
  performance-storage-service/pss_project/api/migrations/0009_auto_20201109_0226.py
  performance-storage-service/pss_project/api/tests/factories/database/ArtifactStatsDBFactory.py
Due: Performance Storage Service

Downgrade coverage version due to incompatibility with Django
  performance-storage-service/requirements.txt
Due: Performance Storage Service

increment version
  deployments/inventory
  performance-storage-service/Jenkinsfile
Due: Performance Storage Service

resolve dependency issues
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/requirements.txt
Due: Performance Storage Service

debugging
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/views/git_events.py
Due: Performance Storage Service

secret issue fixed
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/views/git_events.py
Due: Performance Storage Service

debugging and fix migration issue
  deployments/inventory
  deployments/kubernetes/performance/performance-storage-service/migration-job.yml
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/views/git_events.py
Due: Performance Storage Service

fix DB migration
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/migrations/0009_auto_20201109_0226.py
  performance-storage-service/pss_project/api/migrations/0010_auto_20201121_2224.py
Due: Performance Storage Service

fix trim->strip
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/views/git_events.py
Due: Performance Storage Service

Fix secret issue
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/settings/base.py
Due: Performance Storage Service

Added logging
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/views/git_events.py
Due: Performance Storage Service

organize imports
  performance-storage-service/pss_project/api/views/git_events.py
Due: Performance Storage Service

checking logging working
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/views/git_events.py
Due: Performance Storage Service

Add logging config to settings
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/views/git_events.py
  performance-storage-service/pss_project/settings/base.py
Due: Performance Storage Service

configure logger
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/settings/base.py
Due: Performance Storage Service

messing with logging
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/settings/base.py
Due: Performance Storage Service
