Repository cmu-db/noisepage-stats: changes, and which Jenkins stages are due for each by the changed paths.
All: Performance Storage Service, TimescaleDB, Grafana

Performance Storage Service:
            steps{
              build job: "noisepage-test-performance-storage-service/${env.BRANCH_NAME}", wait: true, propagate: true
            }
          

TimescaleDB:
            steps{
              build job: "noisepage-test-timescale/${env.BRANCH_NAME}", wait: true, propagate: true
            }
          

Grafana:
            steps{
              build job: "noisepage-test-grafana/${env.BRANCH_NAME}", wait: true,  propagate: true
            }
          

wait for postgres to be up before creating db
  deployments/playbooks/timescaledb-deployment.yml
Due: none

parse result
  deployments/playbooks/timescaledb-deployment.yml
Due: none

trying to read result of if db available
  deployments/Jenkinsfile
  deployments/playbooks/timescaledb-deployment.yml
Due: none

add verbose logging
  deployments/Jenkinsfile
Due: none

change the db attribute name
  deployments/playbooks/timescaledb-deployment.yml
Due: none

add debugging to ansible
  deployments/playbooks/timescaledb-deployment.yml
Due: none

state not allowed as param fix
  deployments/playbooks/timescaledb-deployment.yml
Due: none

add back the loop to check if the db is up
  deployments/playbooks/timescaledb-deployment.yml
Due: none

remove verbose logging
  deployments/Jenkinsfile
Due: none

using temporary username and password
  deployments/kubernetes/performance/grafana/add-datasource.yml
Due: none

trigger test
  deployments/playbooks/grafana-deployment.yml
Due: none

temp disable persistent volume for grafana
  deployments/kubernetes/performance/grafana/deployment.yml
Due: none

change copy to synchronize to sync the dashboard deletion
  deployments/playbooks/config-grafana.yml
Due: none

trigger deploy dashboard
  grafana/dashboards/NightlyOverall.json
  grafana/dashboards/OLTPBench.json
  grafana/dashboards/Scalability.json
Due: Grafana

trigger
  deployments/playbooks/config-grafana.yml
Due: none

add default python3 path for all k8s nodes
  deployments/inventory
Due: none

update vars for testing and staging respectively
  deployments/inventory
Due: none

Delete dashboards ID
  grafana/dashboards/NightlyOverall.json
  grafana/dashboards/OLTPBench.json
  grafana/dashboards/Scalability.json
Due: Grafana

put python3 path to all nodes
  deployments/inventory
Due: none

try this
  deployments/playbooks/config-grafana.yml
Due: none

update dashboard
  grafana/dashboards/NightlyOverall.json
  grafana/dashboards/OLTPBench.json
  grafana/dashboards/Scalability.json
Due: Grafana

ok nvm
  deployments/playbooks/config-grafana.yml
Due: none

TODO: ask Chad to install rsync on jenkins agents, then use synchronize later
  deployments/playbooks/config-grafana.yml
Due: none

trigger build
  deployments/playbooks/config-grafana.yml
Due: none

update dashboards
  grafana/dashboards/NightlyOverall.json
  grafana/dashboards/OLTPBench.json
  grafana/dashboards/Scalability.json
Due: Grafana

testing ttl
  deployments/kubernetes/performance/performance-storage-service/migration-job.yml
Due: none

test ttl
  deployments/kubernetes/performance/performance-storage-service/migration-job.yml
Due: none

resetting migration job now that ttl works
  deployments/kubernetes/performance/performance-storage-service/migration-job.yml
Due: none

Change grafana table name
  deployments/playbooks/config-grafana.yml
  grafana/dashboards/NightlyOverall.json
  grafana/dashboards/OLTPBench.json
  grafana/dashboards/Scalability.json
Due: Grafana

Update schema
  timescaledb/load_data.py
Due: TimescaleDB

Update dashboard schema
  grafana/dashboards/NightlyOverall.json
  grafana/dashboards/OLTPBench.json
  grafana/dashboards/Scalability.json
Due: Grafana

trigger deployment
  deployments/playbooks/grafana-deployment.yml
Due: none

trigger
  deployments/kubernetes/performance/timescaledb/deployment.yml
Due: none

Add persistent volume
  deployments/kubernetes/performance/timescaledb/deployment.yml
  deployments/kubernetes/performance/timescaledb/persistent-volume-claim.yml
  deployments/kubernetes/performance/timescaledb/persistent-volume.yml
  deployments/playbooks/timescaledb-deployment.yml
Due: none

Remove useless file
  deployments/kubernetes/performance/timescaledb/backup/persistent-volume-claim.yml
  deployments/kubernetes/performance/timescaledb/backup/persistent-volume.yml
Due: none

GEN-271 update pipelines to move them to testing-team folder
  Jenkinsfile
  deployments/Jenkinsfile
Due: none

GEN-271 triggering a downstream build
  performance-storage-service/test.txt
Due: Performance Storage Service

use k8s secrets for db credentials in django deployment
  deployments/kubernetes/performance/performance-storage-service/deployment.yml
  deployments/kubernetes/performance/performance-storage-service/migration-job.yml
  deployments/scripts/make_secrets_pss_db.sh
Due: none

Delete deprecated files
  deployments/kubernetes/performance/grafana/add-datasource.yml
  deployments/kubernetes/performance/grafana/import-dashboard.yml
Due: none

Path conditions:
  Performance Storage Service: any of: performance-storage-service/**
  TimescaleDB: any of: timescaledb/**
  Grafana: any of: grafana/**
