Repository cmu-db/noisepage-stats: changes, and which Jenkins stages are due for each by the changed paths.
All: Performance Storage Service, TimescaleDB, Grafana

Performance Storage Service:
            steps{
              build job: "noisepage-test-performance-storage-service/${env.BRANCH_NAME}", wait: true, propagate: true
            }
          

TimescaleDB:
            steps{
              build job: "noisepage-test-timescale/${env.BRANCH_NAME}", wait: true, propagate: true
            }
          

Grafana:
            steps{
              build job: "noisepage-test-grafana/${env.BRANCH_NAME}", wait: true,  propagate: true
            }
          

Convert to hypertables
  deployments/playbooks/pss-deployment.yml
  performance-storage-service/pss_project/api/migrations/0011_auto_20210105_1158.py
  performance-storage-service/pss_project/api/migrations/0012_hypertables.py
  performance-storage-service/pss_project/api/models/database/ArtifactStatsResult.py
  performance-storage-service/pss_project/api/models/database/MicrobenchmarkResult.py
  performance-storage-service/pss_project/api/models/database/OLTPBenchResult.py
Due: Performance Storage Service

update version
  deployments/inventory
  performance-storage-service/Jenkinsfile
Due: Performance Storage Service

remove broken migration cleanup
  deployments/playbooks/pss-deployment.yml
Due: none

remove "bialesdaniel" check on the performance cop
  deployments/inventory
  deployments/playbooks/pss-deployment.yml
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/views/git_events.py
Due: Performance Storage Service

Redesign the github bot code so that it easy to extend
  deployments/inventory
  deployments/kubernetes/performance/performance-storage-service/deployment.yml
  deployments/kubernetes/performance/performance-storage-service/migration-job.yml
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/constants.py
  performance-storage-service/pss_project/api/github_integration/BasePRBot.py
  performance-storage-service/pss_project/api/github_integration/PerformanceGuardBot.py
  performance-storage-service/pss_project/api/github_integration/check_run.py
  performance-storage-service/pss_project/api/github_integration/how_to_create_github_bot.md
  performance-storage-service/pss_project/api/models/database/ArtifactStatsResult.py
  performance-storage-service/pss_project/api/models/database/MicrobenchmarkResult.py
  performance-storage-service/pss_project/api/models/database/OLTPBenchResult.py
  performance-storage-service/pss_project/api/models/rest/ArtifactStatsRest.py
  performance-storage-service/pss_project/api/models/rest/BaseRest.py
  performance-storage-service/pss_project/api/models/rest/MicrobenchmarkRest.py
  performance-storage-service/pss_project/api/models/rest/OLTPBenchRest.py
  performance-storage-service/pss_project/api/models/rest/metadata/EnvironmentMetadata.py
  performance-storage-service/pss_project/api/models/rest/metadata/GithubMetadata.py
  performance-storage-service/pss_project/api/models/rest/metadata/JenkinsMetadata.py
  performance-storage-service/pss_project/api/models/rest/metadata/Metadata.py
  performance-storage-service/pss_project/api/models/rest/metadata/NoisePageMetadata.py
  performance-storage-service/pss_project/api/models/rest/metrics/BasePerformanceMetrics.py
  performance-storage-service/pss_project/api/models/rest/metrics/IncrementalMetrics.py
  performance-storage-service/pss_project/api/models/rest/metrics/LatencyMetrics.py
  performance-storage-service/pss_project/api/models/rest/metrics/MemoryMetrics.py
  performance-storage-service/pss_project/api/models/rest/metrics/MicrobenchmarkMetrics.py
  performance-storage-service/pss_project/api/models/rest/metrics/OLTPBenchMetrics.py
  performance-storage-service/pss_project/api/models/rest/parameters/MicrobenchmarkParameters.py
  performance-storage-service/pss_project/api/models/rest/parameters/OLTPBenchParameters.py
  performance-storage-service/pss_project/api/models/rest/parameters/TransactionWeight.py
  performance-storage-service/pss_project/api/serializers/fields/UnixEpochDatetimeField.py
  performance-storage-service/pss_project/api/tests/github_integration/test_BasePRBot.py
  performance-storage-service/pss_project/api/tests/github_integration/test_PerformanceGuardBot.py
  performance-storage-service/pss_project/api/tests/github_integration/test_check_run.py
  performance-storage-service/pss_project/api/views/git_events.py
  performance-storage-service/pss_project/api/views/health.py
  performance-storage-service/pss_project/urls.py
Due: Performance Storage Service

Debug performance guard
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/settings/production.py
Due: Performance Storage Service

Fix attribute names
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/github_integration/BasePRBot.py
  performance-storage-service/pss_project/api/github_integration/how_to_create_github_bot.md
  performance-storage-service/pss_project/api/views/git_events.py
Due: Performance Storage Service

debug
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/github_integration/BasePRBot.py
Due: Performance Storage Service

reenable install ansible script
  deployments/Jenkinsfile
Due: none

change
  deployments/Jenkinsfile
Due: none

remove whitespace
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/github_integration/BasePRBot.py
Due: Performance Storage Service

add timestamp smear based save
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/github_integration/BasePRBot.py
  performance-storage-service/pss_project/api/models/database/ArtifactStatsResult.py
  performance-storage-service/pss_project/api/models/database/MicrobenchmarkResult.py
  performance-storage-service/pss_project/api/models/database/OLTPBenchResult.py
Due: Performance Storage Service

Fix silly error
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/github_integration/BasePRBot.py
Due: Performance Storage Service

Fix issues with timestamp smudge. Also start to debug gitbot
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/github_integration/BasePRBot.py
  performance-storage-service/pss_project/api/models/database/MicrobenchmarkResult.py
  performance-storage-service/pss_project/api/serializers/database/ArtifactStatsResultSerializer.py
  performance-storage-service/pss_project/api/serializers/database/MicrobenchmarkResultSerializer.py
  performance-storage-service/pss_project/api/serializers/database/OLTPBenchResultSerializer.py
  performance-storage-service/pss_project/api/tests/github_integration/test_BasePRBot.py
  performance-storage-service/pss_project/api/tests/models/test_ArtifactStatsResults.py
  performance-storage-service/pss_project/api/tests/models/test_MicrobenchmarkResult.py
  performance-storage-service/pss_project/api/tests/models/test_OLTPBenchResult.py
  performance-storage-service/pss_project/api/tests/serializers/database/test_ArtifactStatsResultSerializer.py
  performance-storage-service/pss_project/api/tests/serializers/database/test_MicrobenchmarkResultsSerializer.py
  performance-storage-service/pss_project/api/tests/serializers/database/test_OLTPBenchResultSerializer.py
  performance-storage-service/pss_project/api/tests/views/test_artifact_stats.py
  performance-storage-service/pss_project/api/tests/views/test_microbenchmark.py
  performance-storage-service/pss_project/api/tests/views/test_oltpbench.py
  performance-storage-service/pss_project/api/views/artifact_stats.py
  performance-storage-service/pss_project/api/views/microbenchmark.py
  performance-storage-service/pss_project/api/views/oltpbench.py
  performance-storage-service/pss_project/settings/local.py
Due: Performance Storage Service

Fix PR bot
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/github_integration/BasePRBot.py
Due: Performance Storage Service

Fix broken test
  performance-storage-service/pss_project/api/tests/github_integration/test_BasePRBot.py
Due: Performance Storage Service

testing out simple github bot
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/views/git_events.py
  timescaledb/smudge_timestamps.py
Due: Performance Storage Service, TimescaleDB

remove basic PR bot due to errors
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/views/git_events.py
  timescaledb/smudge_timestamps.py
Due: Performance Storage Service, TimescaleDB

Simplifying the build + deploy pipelines
  Jenkinsfile-build
  deployments/Jenkinsfile
  grafana/Jenkinsfile
  timescaledb/Jenkinsfile
Due: TimescaleDB, Grafana

make sure builds only publish if its master branch
  Jenkinsfile-build
  deployments/Jenkinsfile
Due: none

fix build trigger
  deployments/Jenkinsfile
Due: none

Finish Jenkinsfile changes and add a simple bot to test the extensibility
  Jenkinsfile
  Jenkinsfile-build
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/constants.py
  performance-storage-service/pss_project/api/github_integration/BasePRBot.py
  performance-storage-service/pss_project/api/github_integration/SimplePRBot.py
  performance-storage-service/pss_project/api/models/database/ArtifactStatsResult.py
  performance-storage-service/pss_project/api/models/database/MicrobenchmarkResult.py
  performance-storage-service/pss_project/api/models/database/OLTPBenchResult.py
  performance-storage-service/pss_project/api/tests/github_integration/test_BasePRBot.py
  performance-storage-service/pss_project/api/tests/github_integration/test_PerformanceGuardBot.py
  performance-storage-service/pss_project/api/tests/models/test_ArtifactStatsResults.py
  performance-storage-service/pss_project/api/tests/models/test_MicrobenchmarkResult.py
  performance-storage-service/pss_project/api/tests/models/test_OLTPBenchResult.py
  performance-storage-service/pss_project/api/tests/serializers/database/test_ArtifactStatsResultSerializer.py
  performance-storage-service/pss_project/api/tests/serializers/database/test_MicrobenchmarkResultsSerializer.py
  performance-storage-service/pss_project/api/tests/serializers/database/test_OLTPBenchResultSerializer.py
  performance-storage-service/pss_project/api/views/git_events.py
Due: Performance Storage Service

rename environment variables
  deployments/kubernetes/performance/performance-storage-service/deployment.yml
Due: none

fix PR bot error where it doesn't check valid hash properly
  Jenkinsfile-build
  deployments/Jenkinsfile
  deployments/inventory
  performance-storage-service/pss_project/api/views/git_events.py
Due: Performance Storage Service

Fix check run so it is updated by name of check
  Jenkinsfile-build
  deployments/inventory
  performance-storage-service/pss_project/api/github_integration/BasePRBot.py
  performance-storage-service/pss_project/api/github_integration/NoisePageRepoClient.py
  performance-storage-service/pss_project/api/tests/github_integration/test_BasePRBot.py
Due: Performance Storage Service

remove the simple bot and add instructions for creating a github PR Bot.
  Jenkinsfile-build
  deployments/inventory
  deployments/kubernetes/performance/performance-storage-service/migration-job.yml
  performance-storage-service/pss_project/api/github_integration/SimplePRBot.py
  performance-storage-service/pss_project/api/github_integration/how_to_create_github_bot.md
  performance-storage-service/pss_project/api/views/git_events.py
Due: Performance Storage Service

Fix a bug where performance-guard would not always complete
  Jenkinsfile-build
  deployments/inventory
  performance-storage-service/pss_project/api/github_integration/BasePRBot.py
  performance-storage-service/pss_project/api/github_integration/NoisePageRepoClient.py
  performance-storage-service/pss_project/api/models/database/ArtifactStatsResult.py
  performance-storage-service/pss_project/api/models/database/MicrobenchmarkResult.py
  performance-storage-service/pss_project/api/models/database/OLTPBenchResult.py
  performance-storage-service/pss_project/api/serializers/database/ArtifactStatsResultSerializer.py
  performance-storage-service/pss_project/api/serializers/database/MicrobenchmarkResultSerializer.py
  performance-storage-service/pss_project/api/serializers/database/OLTPBenchResultSerializer.py
  performance-storage-service/pss_project/api/tests/github_integration/test_BasePRBot.py
Due: Performance Storage Service

fix how % diff was calculated in dashboards
  grafana/dashboards/LatencyTrends.json
  grafana/dashboards/ThroughputTrends.json
Due: Grafana

deafult throughput trends to RAM disk
  grafana/dashboards/ThroughputTrends.json
Due: Grafana

Add PR comments to the performance guard. Additional refactoring of the base class
  Jenkinsfile-build
  deployments/inventory
  grafana/dashboards/ArtifactStats.json
  performance-storage-service/README.md
  performance-storage-service/pss_project/api/github_integration/BasePRBot.py
  performance-storage-service/pss_project/api/github_integration/NoisePageRepoClient.py
  performance-storage-service/pss_project/api/github_integration/PerformanceGuardBot.py
  performance-storage-service/pss_project/api/tests/github_integration/test_BasePRBot.py
  performance-storage-service/pss_project/api/tests/github_integration/test_PerformanceGuardBot.py
  performance-storage-service/pss_project/api/views/git_events.py
Due: Performance Storage Service, Grafana

debug failed test
  performance-storage-service/pss_project/api/tests/github_integration/test_BasePRBot.py
Due: Performance Storage Service

update container to python 3.8
  performance-storage-service/Dockerfile
  performance-storage-service/pss_project/api/tests/github_integration/test_BasePRBot.py
Due: Performance Storage Service

Debug search_issues API
  Jenkinsfile-build
  deployments/inventory
  performance-storage-service/pss_project/api/github_integration/NoisePageRepoClient.py
  performance-storage-service/pss_project/api/views/git_events.py
Due: Performance Storage Service

Fix search_issues API call
  Jenkinsfile-build
  deployments/inventory
  performance-storage-service/pss_project/api/github_integration/NoisePageRepoClient.py
Due: Performance Storage Service

Fix wrong call to get pull_request with GitHub client.
  Jenkinsfile-build
  deployments/inventory
  performance-storage-service/pss_project/api/github_integration/NoisePageRepoClient.py
Due: Performance Storage Service

Last attempt tonight to get around pull request auth issue.
  Jenkinsfile-build
  deployments/inventory
  performance-storage-service/pss_project/api/github_integration/NoisePageRepoClient.py
Due: Performance Storage Service

Debug create comment issue
  Jenkinsfile-build
  deployments/inventory
  performance-storage-service/pss_project/api/github_integration/NoisePageRepoClient.py
Due: Performance Storage Service

Minor markdown updates
  Jenkinsfile-build
  deployments/inventory
  performance-storage-service/README.md
  performance-storage-service/pss_project/api/github_integration/PerformanceGuardBot.py
  performance-storage-service/pss_project/api/tests/github_integration/test_PerformanceGuardBot.py
Due: Performance Storage Service

Change from login_as_app to login_as_installation
  Jenkinsfile-build
  deployments/inventory
  performance-storage-service/pss_project/api/github_integration/NoisePageRepoClient.py
  performance-storage-service/pss_project/api/views/git_events.py
Due: Performance Storage Service

Path conditions:
  Performance Storage Service: any of: performance-storage-service/**
  TimescaleDB: any of: timescaledb/**
  Grafana: any of: grafana/**
