Repository cmu-db/noisepage-stats: changes, and which Jenkins stages are due for each by the changed paths.
All: Performance Storage Service, TimescaleDB, Grafana

Performance Storage Service:
            steps{
              build job: "noisepage-test-performance-storage-service/${env.BRANCH_NAME}", wait: true, propagate: true
            }
          

TimescaleDB:
            steps{
              build job: "noisepage-test-timescale/${env.BRANCH_NAME}", wait: true, propagate: true
            }
          

Grafana:
            steps{
              build job: "noisepage-test-grafana/${env.BRANCH_NAME}", wait: true,  propagate: true
            }
          

changing node selector
  deployments/kubernetes/namespaces.yml
  deployments/kubernetes/performance/performance-storage-service/deployment.yml
Due: none

trigger build
  performance-storage-service/pss_project/api/views/health.py
Due: Performance Storage Service

misunderstood nodeselector
  deployments/kubernetes/performance/performance-storage-service/deployment.yml
Due: none

fix maybe
  deployments/kubernetes/performance/performance-storage-service/deployment.yml
  deployments/kubernetes/performance/performance-storage-service/service.yml
Due: none

I think I'm very close
  deployments/kubernetes/performance/performance-storage-service/deployment.yml
Due: none

I think this will finally get staging all setup
  deployments/kubernetes/namespaces.yml
  deployments/kubernetes/performance/grafana/deployment.yml
  deployments/kubernetes/performance/grafana/service.yml
  deployments/kubernetes/performance/performance-storage-service/service.yml
  deployments/kubernetes/performance/timescaledb/deployment.yml
  deployments/kubernetes/performance/timescaledb/service.yml
  performance-storage-service/pss_project/api/views/health.py
Due: Performance Storage Service

Finish reading files part. Add documentations.
  timescaledb/load_data.py
Due: TimescaleDB

Add grafana volume
  deployments/kubernetes/performance/grafana/deployment.yml
Due: none

Enable Grafana Log
  deployments/kubernetes/performance/grafana/deployment.yml
Due: none

try to fix login issue
  deployments/kubernetes/performance/grafana/deployment.yml
Due: none

try to fix login problem
  deployments/kubernetes/performance/grafana/deployment.yml
Due: none

try to fix
  deployments/kubernetes/performance/grafana/deployment.yml
Due: none

Configured the deployment to handle the database.
  deployments/Jenkinsfile
  deployments/inventory
  deployments/kubernetes/performance/performance-storage-service/deployment.yml
  deployments/kubernetes/performance/timescaledb/deployment.yml
  performance-storage-service/pss_project/api/tests/serializers/database/test_OLTPBenchResultSerializer.py
  performance-storage-service/pss_project/api/tests/views/test_oltpbench.py
  performance-storage-service/pss_project/api/tests/views/tests_health.py
  performance-storage-service/pss_project/settings/base.py
  performance-storage-service/pss_project/settings/production.py
  performance-storage-service/pss_project/settings/testing.py
  performance-storage-service/pss_project/settings/utils.py
Due: Performance Storage Service

Add nightly model json
  grafana/models/nightly.json
Due: Grafana

GEN-131 Test trigger.
  timescaledb/load_data.py
Due: TimescaleDB

GEN-131 #comment test trigger
  timescaledb/load_data.py
Due: TimescaleDB

GEN-67 #comment test trigger
  timescaledb/load_data.py
Due: TimescaleDB

update nightly dashboard
  grafana/models/nightly.json
Due: Grafana

Add Scalability dashboard
  grafana/models/scalability.json
Due: Grafana

Try to change a port to avoid port conflict.
  deployments/kubernetes/performance/timescaledb/deployment.yml
  deployments/kubernetes/performance/timescaledb/service.yml
Due: none

Try to add two tasks. If this still not work, I'll revert this commit.
  deployments/kubernetes/performance/timescaledb/deployment.yml
  deployments/kubernetes/performance/timescaledb/persistent_volume.yml
  deployments/kubernetes/performance/timescaledb/persistent_volume_claim.yml
  deployments/playbooks/timescaledb-deployment.yml
Due: none

Revert "Try to add two tasks. If this still not work, I'll revert this commit."
  deployments/kubernetes/performance/timescaledb/deployment.yml
  deployments/kubernetes/performance/timescaledb/persistent_volume.yml
  deployments/kubernetes/performance/timescaledb/persistent_volume_claim.yml
  deployments/playbooks/timescaledb-deployment.yml
Due: none

Revert "Try to change a port to avoid port conflict."
  deployments/kubernetes/performance/timescaledb/deployment.yml
  deployments/kubernetes/performance/timescaledb/service.yml
Due: none

Make it easier to use. Fix some comments.
  timescaledb/load_data.py
  timescaledb/requirements.txt
Due: TimescaleDB

Add the new metrics fields that Yao was suggesting
  performance-storage-service/README.md
  performance-storage-service/pss_project/api/models/rest/OLTPBenchRest.py
  performance-storage-service/pss_project/api/models/rest/metrics/LatencyMetrics.py
  performance-storage-service/pss_project/api/models/rest/metrics/OLTPBenchMetrics.py
  performance-storage-service/pss_project/api/serializers/rest/OLTPBenchSerializer.py
  performance-storage-service/pss_project/api/serializers/rest/metadata/JenkinsMetadataSerializer.py
  performance-storage-service/pss_project/api/serializers/rest/metrics/LatencyMetricsSerializer.py
  performance-storage-service/pss_project/api/serializers/rest/metrics/OLTPBenchMetricsSerializer.py
  performance-storage-service/pss_project/api/tests/factories/rest/metrics/LatencyMetricsFactory.py
  performance-storage-service/pss_project/api/tests/factories/rest/metrics/OLTPBenchMetricsFactory.py
  performance-storage-service/pss_project/api/tests/serializers/rest/test_basic_serializers.py
Due: Performance Storage Service

GEN-126 add latency metrics as their own object
  performance-storage-service/openapi.yaml
Due: Performance Storage Service

trying to debug some routing issue
  deployments/kubernetes/performance/performance-storage-service/service.yml
Due: none

Looks like we want local traffic policy
  deployments/kubernetes/performance/grafana/service.yml
  deployments/kubernetes/performance/performance-storage-service/service.yml
  deployments/kubernetes/performance/timescaledb/service.yml
Due: none

test deploy
  deployments/kubernetes/performance/grafana/deployment.yml
Due: none

looks like maybe not?
  deployments/kubernetes/performance/grafana/service.yml
Due: none

Remove useless config file for timescaledb in kubernetes.
  deployments/kubernetes/performance/timescaledb/deployment_backup.yml
  deployments/kubernetes/performance/timescaledb/postgres-config.yml
  deployments/kubernetes/performance/timescaledb/postgres-service.yml
  deployments/kubernetes/performance/timescaledb/postgres-stateful.yml
  deployments/kubernetes/performance/timescaledb/timescaledb.yml
Due: none

Try to add an arg to see if it works
  deployments/kubernetes/performance/timescaledb/deployment.yml
Due: none

Try to change the port.
  deployments/kubernetes/performance/timescaledb/deployment.yml
  deployments/kubernetes/performance/timescaledb/service.yml
Due: none

Revert "Try to change the port."
  deployments/kubernetes/performance/timescaledb/deployment.yml
  deployments/kubernetes/performance/timescaledb/service.yml
Due: none

revert
  deployments/kubernetes/performance/grafana/service.yml
Due: none

enable grafana sub url
  deployments/kubernetes/performance/grafana/deployment.yml
Due: none

test
  deployments/kubernetes/performance/grafana/deployment.yml
Due: none

Path conditions:
  Performance Storage Service: any of: performance-storage-service/**
  TimescaleDB: any of: timescaledb/**
  Grafana: any of: grafana/**
