Repository cmu-db/noisepage-stats: changes, and which Jenkins stages are due for each by the changed paths.
All: Performance Storage Service, TimescaleDB, Grafana

Jenkinsfile:

#!groovy
pipeline {
  agent {
    label 'docker'
  }

  stages{
    stage('Checkout'){
      steps{
        checkout scm
      }
    }
    stage('Trigger Build Pipelines') {
      parallel {
        stage('Performance Storage Service'){
          when{
            changeset "performance-storage-service/**"
          }
          steps{
            build job: "noisepage-test-performance-storage-service/${env.BRANCH_NAME}", wait: true, propagate: true
          }
        }
        stage('TimescaleDB'){
          when{
            changeset "timescaledb/**"
          }
          steps{
            build job: "noisepage-test-timescale/${env.BRANCH_NAME}", wait: true, propagate: true
          }
        }
        stage('Grafana'){
          when{
            changeset "grafana/**"
          }
          steps{
            build job: "noisepage-test-grafana/${env.BRANCH_NAME}", wait: true,  propagate: true
          }
        }
      }
    }
  }
}

Update overview dashboards
  grafana/dashboards/Overview.json
Due: Grafana

Add debug info
  performance-storage-service/pss_project/api/github_integration/NoisePageRepoClient.py
Due: Performance Storage Service

debug perfcop
  performance-storage-service/pss_project/api/github_integration/NoisePageRepoClient.py
Due: Performance Storage Service

debug perfcop
  performance-storage-service/pss_project/api/views/git_events.py
Due: Performance Storage Service

update version
  deployments/inventory
  performance-storage-service/Jenkinsfile
Due: Performance Storage Service

Add improved logging and change the compare to be specific to the commit hash
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/github_integration/NoisePageRepoClient.py
  performance-storage-service/pss_project/api/github_integration/check_run.py
  performance-storage-service/pss_project/api/models/database/OLTPBenchResult.py
  performance-storage-service/pss_project/api/tests/models/test_OLTPBenchResult.py
  performance-storage-service/pss_project/api/views/artifact_stats.py
  performance-storage-service/pss_project/api/views/git_events.py
  performance-storage-service/pss_project/api/views/microbenchmark.py
  performance-storage-service/pss_project/api/views/oltpbench.py
Due: Performance Storage Service

Add a info not found message for performance cop
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/github_integration/check_run.py
Due: Performance Storage Service

Debug perf cop
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/github_integration/check_run.py
Due: Performance Storage Service

Add more info to performance cop output
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/github_integration/check_run.py
  performance-storage-service/pss_project/api/tests/github_integration/test_check_run.py
Due: Performance Storage Service

Fix breaking bug
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/github_integration/check_run.py
Due: Performance Storage Service

Fix broken test
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/github_integration/check_run.py
  performance-storage-service/pss_project/api/tests/github_integration/test_check_run.py
  performance-storage-service/pss_project/api/views/artifact_stats.py
  performance-storage-service/pss_project/api/views/microbenchmark.py
  performance-storage-service/pss_project/api/views/oltpbench.py
Due: Performance Storage Service

debug
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/github_integration/check_run.py
Due: Performance Storage Service

Fix type issue
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/github_integration/check_run.py
Due: Performance Storage Service

Add comments to the performance storage service
  performance-storage-service/pss_project/api/constants.py
  performance-storage-service/pss_project/api/github_integration/check_run.py
  performance-storage-service/pss_project/api/models/database/ArtifactStatsResult.py
  performance-storage-service/pss_project/api/models/database/MicrobenchmarkResult.py
  performance-storage-service/pss_project/api/models/database/OLTPBenchResult.py
  performance-storage-service/pss_project/api/models/rest/ArtifactStatsRest.py
  performance-storage-service/pss_project/api/models/rest/BaseRest.py
  performance-storage-service/pss_project/api/models/rest/MicrobenchmarkRest.py
  performance-storage-service/pss_project/api/models/rest/OLTPBenchRest.py
  performance-storage-service/pss_project/api/models/rest/metadata/EnvironmentMetadata.py
  performance-storage-service/pss_project/api/models/rest/metadata/GithubMetadata.py
  performance-storage-service/pss_project/api/models/rest/metadata/JenkinsMetadata.py
  performance-storage-service/pss_project/api/models/rest/metadata/Metadata.py
  performance-storage-service/pss_project/api/models/rest/metadata/NoisePageMetadata.py
  performance-storage-service/pss_project/api/models/rest/metrics/BasePerformanceMetrics.py
  performance-storage-service/pss_project/api/models/rest/metrics/IncrementalMetrics.py
  performance-storage-service/pss_project/api/models/rest/metrics/LatencyMetrics.py
  performance-storage-service/pss_project/api/models/rest/metrics/MemoryMetrics.py
  performance-storage-service/pss_project/api/models/rest/metrics/MicrobenchmarkMetrics.py
  performance-storage-service/pss_project/api/models/rest/metrics/OLTPBenchMetrics.py
  performance-storage-service/pss_project/api/models/rest/parameters/MicrobenchmarkParameters.py
  performance-storage-service/pss_project/api/models/rest/parameters/OLTPBenchParameters.py
  performance-storage-service/pss_project/api/models/rest/parameters/TransactionWeight.py
  performance-storage-service/pss_project/api/models/rest/utils.py
  performance-storage-service/pss_project/api/serializers/fields/UnixEpochDatetimeField.py
  performance-storage-service/pss_project/api/urls.py
  performance-storage-service/pss_project/api/views/artifact_stats.py
  performance-storage-service/pss_project/api/views/git_events.py
  performance-storage-service/pss_project/api/views/health.py
  performance-storage-service/pss_project/api/views/microbenchmark.py
  performance-storage-service/pss_project/api/views/oltpbench.py
  performance-storage-service/pss_project/urls.py
Due: Performance Storage Service

Update scalability on overview dashboard
  grafana/dashboards/Overview.json
Due: Grafana

Add changes overview for throughput and latency
  grafana/dashboards/ScalabilityDetails.json
Due: Grafana

add shell scripts for timescale backup
  deployments/scripts/backup_timescale.sh
  deployments/scripts/create_nfs_mount.sh
Due: none

add comment for crontab
  deployments/scripts/backup_timescale.sh
Due: none

Add monitoring dashboards
  grafana/change.txt
  grafana/monitoring/Monitoring.json
Due: Grafana

update monitoring dashboard
  grafana/monitoring/Monitoring.json
Due: Grafana

create a script for updating the bad latency data
  timescaledb/update_latency.py
Due: TimescaleDB

add origin master query parameter
  timescaledb/update_latency.py
Due: TimescaleDB

change from avg to min
  timescaledb/update_latency.py
Due: TimescaleDB

minor update
  timescaledb/update_latency.py
Due: TimescaleDB

update the 30/90/all charts in overview
  grafana/dashboards/Overview.json
Due: Grafana

attempt to trigger change
  grafana/dashboards/Overview.json
Due: Grafana

add decimal to overview changes
  grafana/dashboards/Overview.json
Due: Grafana

Update README.md
  grafana/README.md
Due: Grafana

updated the grafana_dashboard module with community.grafana.grafana_dashboard
  deployments/playbooks/grafana-deployment.yml
Due: none

found the culprit for the version reverting
  grafana/dashboards/Overview.json
Due: Grafana

nullify out the closet
  grafana/dashboards/ArtifactStats.json
  grafana/dashboards/IncrementalMetrics.json
  grafana/dashboards/LatencyTrends.json
  grafana/dashboards/MemoryTrends.json
  grafana/dashboards/MicrobenchmarkAlerts.json
  grafana/dashboards/Microbenchmarks.json
  grafana/dashboards/ScalabilityDetails.json
  grafana/dashboards/ThroughputTrends.json
Due: Grafana

debug gitbot
  performance-storage-service/pss_project/api/views/git_events.py
  performance-storage-service/pss_project/settings/production.py
Due: Performance Storage Service

debug github bot
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/views/git_events.py
  performance-storage-service/pss_project/api/views/health.py
  performance-storage-service/pss_project/settings/production.py
Due: Performance Storage Service

reverting debug logs for gitbot
  deployments/inventory
  performance-storage-service/Jenkinsfile
  performance-storage-service/pss_project/api/views/git_events.py
  performance-storage-service/pss_project/settings/production.py
Due: Performance Storage Service

Add a step to install community.grafana
  deployments/Jenkinsfile
Due: none

try to update overview dashboard
  grafana/dashboards/Overview.json
Due: Grafana

fixed the conflicting dashboard json configs
  grafana/dashboards/Overview.json
  grafana/dashboards/ScalabilityDetails.json
Due: Grafana

final fixes to overview last x fields
  grafana/dashboards/Overview.json
Due: Grafana

Dashboard updates
  grafana/dashboards/IncrementalMetrics.json
  grafana/dashboards/Overview.json
Due: Grafana
