Repository cmu-db/noisepage-stats: changes, and which Jenkins stages are due for each by the changed paths.
All: Performance Storage Service, TimescaleDB, Grafana

Performance Storage Service:
            steps{
              build job: "performance-storage-service", wait: true
            }
          

TimescaleDB:
            steps{
              build job: "noisepage-test-timescale", wait: true
            }
          

Grafana:
            steps{
              build job: "noisepage-test-grafana", wait: true
            }
          

test
  Jenkinsfile
  performance-storage-service/hello.txt
Due: Performance Storage Service

fix version number
  performance-storage-service/Jenkinsfile
Due: Performance Storage Service

fixing minor jenkins things
  Jenkinsfile
  performance-storage-service/Jenkinsfile
Due: Performance Storage Service

change upstream project nanme
  deployment/Jenkinsfile
Due: none

Change name of downstream pipeline
  Jenkinsfile
Due: none

locally merged with test
  performance-storage-service/hello.txt
Due: Performance Storage Service

trigger build
  performance-storage-service/hello.txt
Due: Performance Storage Service

rename deployments folder
  deployments/Jenkinsfile
  deployments/ansible.cfg
  deployments/inventory
  deployments/kubernetes/namespaces.yml
  deployments/kubernetes/performance/performance-storage-service/deployment/local/deployment.yml
  deployments/kubernetes/performance/performance-storage-service/deployment/test/deployment.yml
  deployments/kubernetes/performance/service.yml
  deployments/playbooks/create-namespaces.yml
  deployments/playbooks/pss-deployment.yml
Due: none

fix jenkins file
  deployments/Jenkinsfile
Due: none

trigger deploy
  performance-storage-service/hello.txt
Due: Performance Storage Service

fix typo in deployment jenkins
  deployments/Jenkinsfile
  performance-storage-service/hello.txt
Due: Performance Storage Service

fix directory issue with deployment
  deployments/Jenkinsfile
  performance-storage-service/hello.txt
Due: Performance Storage Service

fix copy pasta error
  deployments/Jenkinsfile
  performance-storage-service/hello.txt
Due: Performance Storage Service

setting up ansible host correctly
  deployments/Jenkinsfile
  performance-storage-service/hello.txt
Due: Performance Storage Service

adding master host
  deployments/Jenkinsfile
  deployments/inventory
  performance-storage-service/hello.txt
Due: Performance Storage Service

fixing master config
  deployments/inventory
  deployments/playbooks/create-namespaces.yml
  deployments/playbooks/pss-deployment.yml
  performance-storage-service/hello.txt
Due: Performance Storage Service

verbose logging
  deployments/Jenkinsfile
  performance-storage-service/hello.txt
Due: Performance Storage Service

add ssh credential to pipeline
  deployments/Jenkinsfile
  deployments/inventory
  performance-storage-service/hello.txt
Due: Performance Storage Service

test
  deployments/Jenkinsfile
  performance-storage-service/hello.txt
Due: Performance Storage Service

adding withCredentials
  deployments/Jenkinsfile
  performance-storage-service/hello.txt
Due: Performance Storage Service

Add API documentation
  performance-storage-service/README.md
  performance-storage-service/openapi.yaml
Due: Performance Storage Service

Add grafana service deployment configs
  deployments/Jenkinsfile
  deployments/inventory
  deployments/kubernetes/grafana/grafana/deployment/local/deployment.yml
  deployments/kubernetes/grafana/grafana/deployment/test/deployment.yml
  deployments/kubernetes/grafana/service.yml
  deployments/kubernetes/namespaces.yml
  deployments/playbooks/grafana-deployment.yml
  grafana/Jenkinsfile
Due: Grafana

Delete grafana environment
  grafana/Jenkinsfile
Due: Grafana

test trigger
  performance-storage-service/hello.txt
Due: Performance Storage Service

Test grafana trigger
  grafana/trigger.txt
Due: Grafana

Trigger grafana
  grafana/trigger.txt
Due: Grafana

Delete Grafana Jenkins pipeline
  grafana/Jenkinsfile
Due: Grafana

Add test pipeline
  grafana/Jenkinsfile
Due: Grafana

add transaction types to the API documentation
  performance-storage-service/openapi.yaml
Due: Performance Storage Service

test pipeline
  performance-storage-service/hello.txt
Due: Performance Storage Service

go back to normal
  deployments/Jenkinsfile
  performance-storage-service/hello.txt
Due: Performance Storage Service

going back to normal
  deployments/Jenkinsfile
  performance-storage-service/hello.txt
Due: Performance Storage Service

test pipeline
  deployments/Jenkinsfile
  deployments/inventory
  performance-storage-service/hello.txt
Due: Performance Storage Service

test
  performance-storage-service/hello.txt
Due: Performance Storage Service

hopefully final test
  performance-storage-service/hello.txt
Due: Performance Storage Service

Path conditions:
  Performance Storage Service: any of: performance-storage-service/**
  TimescaleDB: any of: timescale/**
  Grafana: any of: grafana/**
